In [1]:
cd c:\Users\bonje\Documents\Perso\ploutos\ploutos

c:\Users\bonje\Documents\Perso\ploutos\ploutos

In [2]:

from pandas import Timestamp

from dotenv import load_dotenv
import os
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from utils.sheet_migration import SheetMigration
load_dotenv(dotenv_path="notebook/.env", override=True)
import sys
from importlib import reload
from api.old.bank_api import BankApi, Bank
if 'api.bank_api' in sys.modules:
    reload(sys.modules['ploutos.api.bank_api'])
else:
    print("BankApi module not loaded yet - no need to reload")

BankApi module not loaded yet - no need to reload

### Sheet Migration

In [3]:
from api.old.bank_api import BankApi, Bank
if 'db.models' in sys.modules:
    reload(sys.modules['db.models'])
else:
    print("db.models module not loaded yet - no need to reload")

from db.models import *
#account_api=BankApi(Bank.LCL)

#print(account_api.get_metadata())

db.models module not loaded yet - no need to reload

In [14]:
sheet_migration=SheetMigration()

print(sheet_migration.account_list)

               Compte  Fin Janvier 2023       Actuel
0      Compte Courant           -760.35    -621,39 €
1        Livret Jeune             10.00   1 621,45 €
2               Lydia              4.05       8,41 €
3                Izly              7.60       0,00 €
4             Espèces              0.10       0,00 €
5            Tricount             23.21      38,84 €
6       Remboursement           -662.08       0,00 €
7      Lydia Vêtement              0.00       0,00 €
8          Lydia Vélo            510.43       0,00 €
9   Ticket Restaurant              0.00     156,18 €
10               Oddo           4431.26   2 931,26 €
11           Livret A              0.00  12 791,52 €
12  Carrefour Natixis              0.00   6 715,73 €
13            Revolut              0.00       0,00 €

In [94]:
df_paiement=sheet_migration.get_data("Paiement")
df_transfert=sheet_migration.get_data("Transfert")
df_benefices=sheet_migration.get_data("Bénéfices")

Date min: 2023-02-01 00:00:00
Date max: 2024-06-22 00:00:00
Nombre de lignes: 1310
Date min: 2023-02-03 00:00:00
Date max: 2024-06-16 00:00:00
Nombre de lignes: 113
Date min: 2023-02-01 00:00:00
Date max: 2024-06-05 00:00:00
Nombre de lignes: 158

In [18]:
accounts_to_create_budget=[]
for index, row in df_paiement[['Catégorie','Sous Catégorie']].drop_duplicates().iterrows():
    accounts_to_create_budget.append(AccountCreate(
        category=row['Catégorie'] or "Unknown",
        sub_category="Unknown",
        is_real=False,
        name=row['Sous Catégorie'] or "Unknown",
        original_amount=0
    ))
print("Budget accounts to create: ",len(accounts_to_create_budget))

Budget accounts to create:  74

In [19]:
accounts_to_creat_real=[]
for index, row in df_paiement[['Compte']].drop_duplicates().iterrows():
    accounts_to_creat_real.append(AccountCreate(
        category=row['Compte'] or "Unknown",
        sub_category="Unknown",
        is_real=True,
        name=row['Compte'] or "Unknown",
        original_amount=0
    ))
print("Real accounts to create: ",len(accounts_to_creat_real))

Real accounts to create:  7

In [67]:
accounts_to_create_missing=[]
for account in set(df_transfert['Compte départ']).union(set(df_transfert['Compte arrivée'])).union(set(df_benefices['Compte'])) -set(df_paiement['Compte']):
    accounts_to_create_missing.append(AccountCreate(
        category=account or "Unknown",
        sub_category="Unknown",
        is_real=True,
        name=account or "Unknown",
        original_amount=0
    ))
accounts_to_create_missing.append(AccountCreate(
        category="Unknown",
        sub_category="Unknown",
        is_real=True,
        name="Unknown",
        original_amount=0
    ))
print("Transfer and benefit accounts to create",len(accounts_to_create_missing))

Transfer and benefit accounts to create 7

In [69]:
from api.deps import get_db
from api.routers.accounts import *
import importlib
from api.routers.accounts import create_account
importlib.reload(importlib.import_module('api.routers.accounts'))


from fastapi import Depends
import asyncio
import nest_asyncio

# Apply nest_asyncio to allow nested event loops
nest_asyncio.apply()

# Create accounts from sheet data
async def create_accounts_from_sheet(accounts_to_create = []):
    db = get_db
    
    # Define account types based on sheet data
    
    # Create accounts
    for account in accounts_to_create:
        try:
            await create_account(account, db)
            print(f"Created account: {account.name}")
        except Exception as e:
            print(f"Error creating account {account.name}: {str(e)}")

# Run the account creation using asyncio.run() since we're using nest_asyncio
asyncio.run(create_accounts_from_sheet(accounts_to_creat_real+accounts_to_create_budget+accounts_to_create_missing))

2025-06-11 23:05:11.209 | DEBUG    | api.routers.accounts:create_account:70 - Created account: data=[{'accountId': '42aa4dec-ae44-4898-a0f5-17b063283314', 'created_at': '2025-06-11T23:05:11.172475+00:00', 'updated_at': '2025-06-11T23:05:11.172475', 'name': 'Unknown', 'original_amount': 0.0, 'category': 'Unknown', 'sub_category': 'Unknown', 'is_real': True}] count=None

Created account: Unknown

In [70]:
from api.routers.accounts import get_accounts
from api.deps import get_db

async def query_all_accounts():
    db = get_db
    accounts = await get_accounts(db)
    return accounts

# Run the query using asyncio.run() since we're using nest_asyncio
accounts = asyncio.run(query_all_accounts())
print("Found accounts:", len(accounts))
account_text=[accounts['name'] for accounts in accounts]
for account in accounts:
    account=Account(**account)
    print(f"- {account.name} (ID: {account.accountId})")

Found accounts: 88
- Unknown (ID: 42aa4dec-ae44-4898-a0f5-17b063283314)
- Compte Courant (ID: 5e139075-c4b5-4f6f-afdb-e8a5efa9d377)
- Izly (ID: 92c3f5ac-4c45-4ee9-a903-4cdc5a2c8e15)
- Tricount (ID: 645386c7-3875-4c3d-bcb0-e565751410ed)
- Espèces (ID: 82f3f7c9-356a-4ac4-95d3-47a8fc393958)
- Remboursement (ID: 88c7178f-668b-46ed-b33c-71ce5a67fba6)
- Lydia (ID: e775ea39-f089-4432-83c0-f2477aba9248)
- Ticket Restaurant (ID: 2552a66b-68e6-4e7e-b371-2f7348bdbf82)
- Techno (ID: 9cf99e8b-adeb-4b3b-ab28-fc22e513de9d)
- fast food (ID: 633545ba-cc14-41b8-abb1-648531bf283f)
- repas quali (ID: d8ba3c61-d8a9-4abb-bf08-74edb51c9fc6)
- Courses Normal (ID: 16b7b17d-a1be-4422-9950-f723b6b1e377)
- Cochonneries (ID: 3ac6c626-df99-4614-89ab-bdbb54a05199)
- repas midi (ID: a2d11041-4192-4478-b27e-8ca32172570c)
- Nettoyage (ID: 03ea9ed5-76ce-4dbc-9a5c-e2f9a7c30532)
- Transport (ID: 30231c1e-a406-414b-a748-775d59d1099d)
- Acti Sportive (ID: b2d5bea1-7093-4f35-b860-b7544fd0f552)
- Alcool (ID: 69eb9d2c-f419-4d54-9291-0e07169d4758)
- Passer outre (ID: 3796c694-f9a7-4056-96b1-b96041357932)
- coiffeur (ID: b971e7c7-5fcd-4bc6-a6d9-f2a32286bbf4)
- Velo (ID: b34960c9-1fe1-40bf-8c6b-5c269c9eac01)
- Frais (ID: 02bb9f7b-44c0-40bb-9e50-e241d30dacda)
- jeu (ID: a173c7d3-d8d0-44c5-b4ce-08290c76d157)
- Prêt (ID: 5057c59d-1f90-43d0-9741-dddf98ebf28e)
- Musique (ID: 28d5dc14-7f09-48be-bbb8-bfa6c3fd8570)
- Culture (ID: 7c2c1810-4061-43f9-a6b7-01ab8d1e8393)
- Unknown (ID: bae8f7bb-564d-43ab-8ec6-4070c06267b2)
- Unknown (ID: 755968c4-9fa8-4d48-9021-9e5c328df081)
- Café (ID: 445d2e6c-aaec-4ed9-8b72-25a26bdc43b9)
- Charges (ID: 4671726f-d647-48c6-b1ac-f891bdecc03f)
- restaurant (ID: 47095ea4-82eb-44e8-853e-397d5bcd10a6)
- Don (ID: 74dff3da-180b-4c77-8a92-78cd10c4c3df)
- autre (ID: d1df9526-0a9e-44c4-b1c6-d7732d69f2a8)
- Loyer (ID: 0cf813be-9f26-4b9d-ae27-bfd2fc9cceaf)
- Cadeau ami (ID: 869547d8-b0c7-45f7-91bd-16cf180b41fb)
- Spectacle/match (ID: 47229d36-ed14-4b20-93fb-8a33be62377e)
- Soirée (ID: ba6335dc-7b6b-41b9-a581-079823972247)
- Taxe (ID: 5dd69fee-a994-4456-a6b9-c5643f76ea71)
- Non Catégorisé (ID: 5b4539f6-60a7-4e03-8fa1-72d603d086d4)
- Unknown (ID: 266bc213-aeef-4dd7-8ef8-a6d3e5c8feb5)
- Casual (ID: 12e6f75a-e168-476b-84ef-8d31f37e045e)
- Meuble (ID: aae5fd1a-b560-4350-ba28-05502a1f289c)
- Logement (ID: 036fce0a-d891-41d7-a508-e5a1a01aceb0)
- Nourriture (ID: a5fccc3b-ad70-4d01-b430-c5a89343428e)
- Autre (ID: bd6a4cda-043b-47e2-92fb-82a06c27f776)
- Sport (ID: bc4e85ae-289f-448d-a9c7-0f00d9b7cc82)
- Acti (ID: 1c0133bd-ccb4-42af-9e35-01ed18834eb3)
- Sport (ID: 822f4b30-2173-48b4-b03c-be4edb7e39df)
- Unknown (ID: 728a5bfe-5ef7-4704-809e-b2a613101c93)
- Bar non alcool (ID: f3af7f7d-bb70-4ed0-821a-c02553000e8c)
- Culture (ID: 29141920-7d9c-4b2a-94f8-1b4bcbef3ad7)
- Courses (ID: 43790abe-1de3-4147-87f6-dfb6308a93a2)
- Médicament (ID: 84b3573f-cc4a-41e8-848b-bbdd0540d70f)
- Unknown (ID: d305e6d6-f4b3-4610-a9a9-d92bb038be97)
- Lecture (ID: 72ee3319-8323-4246-947e-351123843583)
- Salle de bain (ID: 9cb6f67f-12b5-47f1-a5a4-3638245ae3ca)
- Alcool (ID: 65d7c39e-03c6-46e9-8e0b-f8ad4cc0f8f5)
- Voyage (ID: b2bcd40b-a0d2-4983-8fcd-fb8e66991344)
- Souvenirs (ID: b1d6f3fb-20d6-4603-b28a-74ef1a6e5e2e)
- alcool (ID: 55f33f56-9d0e-4f44-9942-d94fd96ee3b7)
- Streaming (ID: 989783c3-b487-4f3b-b33f-16ea70ca0e32)
-   (ID: 2f8132e2-ff6a-4f0b-8b6c-742054df31c0)
- Elegant (ID: b72fec08-3a06-40b4-9c7e-ce41a4deb7f9)
- Unknown (ID: 1fc24d34-e92a-4c35-a7aa-f05b5c1767d1)
- cochonneries (ID: b316343b-c6a5-4af2-aa72-c3f6860f8440)
- Sport (ID: f50d9372-733d-4273-a9f3-f244c776d3ce)
- Non Catégorisé (ID: 4cde7005-31a8-4b96-8f72-0c4caf92e993)
- Bar non alcool (ID: aacd95f9-bff5-4931-b0a8-771163cf838b)
- Unknown (ID: b68271ce-0ba4-4edf-9986-da57f7cf8541)
- Unknown (ID: 59233496-4a0c-4fe9-b0cb-58e181190c64)
- Unknown (ID: d4278415-9500-4a90-b1de-147aff172fec)
- sport (ID: 4a86e1aa-92f2-46ef-8631-1989521e905a)
- fast (ID: cef1974f-a8e9-49b8-9e04-d325779dc27f)
- productivité (ID: 0955e2f6-8122-48a9-ba64-8041c7386168)
- Unknown (ID: f86eec27-a9ed-4831-acf1-149ccfaae3e2)
- Unknown (ID: 27d40c76-c20b-4930-b640-c590bd0e3b7b)
- Transport (ID: db64f70b-b99f-4ac8-be2d-8c8a6b5f7288)
- Nourriture (ID: d7809b28-ea67-439c-bb60-71c0501946dc)
- cochonneries (ID: 48fe1553-a777-4764-a67c-f426381eefa3)
- Courses Normal (ID: 3668948e-f6b4-4b09-b093-7277e06c6b77)
- Autre (ID: 2019de6a-23f7-4800-89f5-99d3f3c090b2)
- Revolut (ID: c4259806-b87d-4258-a33b-d1644c720461)
- Livret Jeune (ID: ece4342a-0460-4895-b726-9cafb98bbfba)
- Livret A (ID: 35aac82a-10e9-44f0-8e6e-9191a9e94725)
- Lydia Vélo (ID: 2b090bf3-535f-4fa1-b903-763df139cce2)
- Carrefour Natixis (ID: e4d743a3-60bc-43bf-8037-036fc7f86b34)
- Oddo (ID: 4a947e1c-601e-414f-bde8-2c0b54c190b9)
- restaurant (ID: 71909ddb-6c81-46d9-bc77-d0fcf89d190a)

In [76]:
db = get_db
accounts = (
    db.table("Accounts")
    .select("*")
    .execute()
)
accounts = pd.DataFrame(accounts.data)

In [106]:
from tqdm import tqdm
df_paiement['account_credit'] = None
df_paiement['account_debit'] = None

for index, row in tqdm(df_paiement.iterrows(), total=len(df_paiement)):
    try:
        debit_account = accounts[accounts['name'] == (row["Compte"] if pd.notna(row["Compte"]) else "Unknown")]
        if not debit_account.empty:
            df_paiement.at[index, 'account_debit'] = debit_account.iloc[0]['accountId']
        else:
            print(f"Warning: No matching debit account found for {row['Compte']}")
            
        credit_account = accounts[
            (accounts['name'] == (row["Sous Catégorie"] if row["Sous Catégorie"] else "Unknown")) &
            (accounts['category'] == (row["Catégorie"] if row["Catégorie"] else "Unknown")) & (accounts['is_real']==False)
        ]
        if not credit_account.empty:
            df_paiement.at[index, 'account_credit'] = credit_account.iloc[0]['accountId']
        else:
            print(f"Warning: No matching credit account found for {index}")
    except Exception as e:
        raise e
        print(f"Error getting account IDs for row {index}: {str(e)}")

100%|██████████| 1310/1310 [00:01<00:00, 1184.69it/s]

In [107]:
print(df_paiement[df_paiement["account_credit"].isna()])
print(df_paiement[df_paiement["account_debit"].isna()])

Empty DataFrame
Columns: [Identifiant, Date, Mois, Montant, Créances, Description, Catégorie, Sous Catégorie, Compte, Amortissement, Mois de départ, account_credit, account_debit]
Index: []
Empty DataFrame
Columns: [Identifiant, Date, Mois, Montant, Créances, Description, Catégorie, Sous Catégorie, Compte, Amortissement, Mois de départ, account_credit, account_debit]
Index: []

In [ ]:
import importlib
import db.models
importlib.reload(db.models)

from db.models import TransactionCreate, TransactionSlaveCreate
from db.migrations import upload_transactions

In [136]:
from uuid import UUID, uuid4
from datetime import datetime
master_transactions = []
slaves_transactions = []
for index, row in df_paiement.iterrows():
    # Get account type ID for this transaction
    account_credit = row["account_credit"]
    account_debit = row["account_debit"]
    date=pd.Timestamp(datetime.now().timestamp())
    creditId=uuid4()
    debitId=uuid4()
    if row['Montant']>0:
        master_transactions.append(Transaction(
            transactionId=debitId,
            created_at=date,
            updated_at=date,
            description=row["Description"],
            date=pd.Timestamp(row["Date"]),
            type="debit",
            amount=row["Montant"],
            accountId=account_debit
    ))
        slaves_transactions.append(TransactionSlave(
            slaveId=creditId,
            created_at=date,
            updated_at=date,
            type="debit",
            amount=row["Montant"],
            date=pd.Timestamp(row["Date"]),
            accountId=account_credit,
            masterId=debitId,
                ))
    else:
        raise ValueError(f"Montant négatif pour la transaction {row}")

In [95]:
df_benefices=df_benefices.merge(accounts,how='left',left_on='Compte',right_on='name')
df_transfert=df_transfert.merge(accounts[['accountId','name']].rename(columns={'accountId':'departID'}), how='left', left_on='Compte départ', right_on='name').merge(accounts[['accountId','name']].rename(columns={'accountId':'arriveeID'}), how='left', left_on='Compte arrivée', right_on='name')

In [101]:
unknown_id = accounts[(accounts['sub_category'] == 'Unknown') & (accounts['category'] == 'Unknown') & (accounts['is_real'] == False) & (accounts['name'] == 'Unknown')]['accountId'].iloc[0]
unknown_id

'27d40c76-c20b-4930-b640-c590bd0e3b7b'

In [137]:
for index, row in df_benefices.iterrows():
    # Get account type ID for this transaction
    account_credit = row["accountId"]
    account_debit = unknown_id
    date=pd.Timestamp(datetime.now().timestamp())
    creditId=uuid4()
    debitId=uuid4()
    if row['Montant']>0:
        master_transactions.append(Transaction(
            transactionId=creditId,
            created_at=date,
            updated_at=date,
            description=row["Raison"],
            date=pd.Timestamp(row["Date"]),
            type="credit",
            amount=row["Montant"],
            accountId=account_credit
    ))
        slaves_transactions.append(TransactionSlave(
            slaveId=debitId,
            created_at=date,
            updated_at=date,
            type="debit",
            amount=row["Montant"],
            date=pd.Timestamp(row["Date"]),
            accountId=account_debit,
            masterId=creditId,
                ))
    else:
        raise ValueError(f"Montant négatif pour la transaction {row}")

In [138]:
for index, row in df_transfert.iterrows():
    # Get account type ID for this transaction
    account_credit = row["arriveeID"]
    account_debit = row['departID']
    date=pd.Timestamp(datetime.now().timestamp())
    creditId=uuid4()
    debitId=uuid4()
    if row['Montant']>0:
        master_transactions.append(Transaction(
            transactionId=debitId,
            created_at=date,
            updated_at=date,
            description=row["Description"],
            date=pd.Timestamp(row["Date"]),
            type="debit",
            amount=row["Montant"],
            accountId=account_debit
    ))
        slaves_transactions.append(TransactionSlave(
            slaveId=creditId,
            created_at=date,
            updated_at=date,
            type="credit",
            amount=row["Montant"],
            date=pd.Timestamp(row["Date"]),
            accountId=account_credit,
            masterId=debitId,
                ))
    else:
        raise ValueError(f"Montant négatif pour la transaction {row}")

In [140]:
assert len(master_transactions)==1581

In [143]:

        

# Call the function with the database session and lists
upload_transactions(get_db, master_transactions, slaves_transactions)

  0%|          | 0/1581 [00:00<?, ?it/s]

100%|██████████| 1581/1581 [02:03<00:00, 12.78it/s]
100%|██████████| 1581/1581 [03:46<00:00,  6.98it/s]

,Identifiant,Date,Montant,Type,Raison,Compte,Explication,accountId,created_at,updated_at,name,account_type,original_amount,id,is_real,category,created_at,updated_at,sub_category
0,23BEFÉVR02,2023-02-01,41.83,Parents,prêt,Compte Courant,None,ed89769a-c853-4570-825d-c3687513692c,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Compte Courant,46ac9283-8e93-4f4e-8995-0c8dad80406f,0,46ac9283-8e93-4f4e-8995-0c8dad80406f,True,Compte Courant,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Unknown
1,23BEFÉVR02,2023-02-01,41.83,Parents,prêt,Compte Courant,None,5de10b15-d875-4d79-b5d8-d6767ac0f8d1,2025-06-11T22:06:45.12363+00:00,2025-06-11T22:06:45.12363,Compte Courant,46ac9283-8e93-4f4e-8995-0c8dad80406f,0,46ac9283-8e93-4f4e-8995-0c8dad80406f,True,Compte Courant,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Unknown
2,23BEFÉVR02,2023-02-01,710.00,Parents,Allocation parent,Compte Courant,None,ed89769a-c853-4570-825d-c3687513692c,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Compte Courant,46ac9283-8e93-4f4e-8995-0c8dad80406f,0,46ac9283-8e93-4f4e-8995-0c8dad80406f,True,Compte Courant,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Unknown
3,23BEFÉVR02,2023-02-01,710.00,Parents,Allocation parent,Compte Courant,None,5de10b15-d875-4d79-b5d8-d6767ac0f8d1,2025-06-11T22:06:45.12363+00:00,2025-06-11T22:06:45.12363,Compte Courant,46ac9283-8e93-4f4e-8995-0c8dad80406f,0,46ac9283-8e93-4f4e-8995-0c8dad80406f,True,Compte Courant,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Unknown
4,23BEFÉVR03,2023-02-03,27.74,Remboursement,23HAFÉVR05,Tricount,Raclette,1a9ee7eb-4a21-4139-ae0a-384b3f81c605,2025-06-11T21:45:10.999874+00:00,2025-06-11T21:45:10.999874,Tricount,c3886faf-47d7-4002-baaf-eb01b05e6e0c,0,c3886faf-47d7-4002-baaf-eb01b05e6e0c,True,Tricount,2025-06-11T21:45:10.999874+00:00,2025-06-11T21:45:10.999874,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
308,24BEJUIN02,2024-06-03,821.90,Parents,VIREMENT INSTANTANE VIR INST PAPEREUX VERONIQ...,Compte Courant,None,5de10b15-d875-4d79-b5d8-d6767ac0f8d1,2025-06-11T22:06:45.12363+00:00,2025-06-11T22:06:45.12363,Compte Courant,46ac9283-8e93-4f4e-8995-0c8dad80406f,0,46ac9283-8e93-4f4e-8995-0c8dad80406f,True,Compte Courant,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Unknown
309,24BEJUIN03,2024-06-05,127.00,APL,Caf juin,Compte Courant,None,ed89769a-c853-4570-825d-c3687513692c,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Compte Courant,46ac9283-8e93-4f4e-8995-0c8dad80406f,0,46ac9283-8e93-4f4e-8995-0c8dad80406f,True,Compte Courant,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Unknown
310,24BEJUIN03,2024-06-05,127.00,APL,Caf juin,Compte Courant,None,5de10b15-d875-4d79-b5d8-d6767ac0f8d1,2025-06-11T22:06:45.12363+00:00,2025-06-11T22:06:45.12363,Compte Courant,46ac9283-8e93-4f4e-8995-0c8dad80406f,0,46ac9283-8e93-4f4e-8995-0c8dad80406f,True,Compte Courant,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Unknown
311,24BEMAI06,2024-05-09,65.00,Remboursement,reçu lydia,Lydia,None,6c4773c6-610d-4409-95a3-d7e43bba5dd5,2025-06-11T21:45:11.437914+00:00,2025-06-11T21:45:11.437914,Lydia,f3fc106a-9930-45b2-bc59-1491119fccc1,0,f3fc106a-9930-45b2-bc59-1491119fccc1,True,Lydia,2025-06-11T21:45:11.437914+00:00,2025-06-11T21:45:11.437914,Unknown
312,24BEMAI06,2024-05-09,65.00,Remboursement,reçu lydia,Lydia,None,09ee3ae5-18e9-46d3-ac6e-322d7129b796,2025-06-11T22:06:45.059668+00:00,2025-06-11T22:06:45.059668,Lydia,f3fc106a-9930-45b2-bc59-1491119fccc1,0,f3fc106a-9930-45b2-bc59-1491119fccc1,True,Lydia,2025-06-11T21:45:11.437914+00:00,2025-06-11T21:45:11.437914,Unknown

In [42]:
accounts

,accountId,created_at,updated_at,name,account_type,original_amount,id,is_real,category,created_at,updated_at,sub_category
0,ed89769a-c853-4570-825d-c3687513692c,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Compte Courant,46ac9283-8e93-4f4e-8995-0c8dad80406f,0,46ac9283-8e93-4f4e-8995-0c8dad80406f,True,Compte Courant,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Unknown
1,72c5a4f9-b011-428b-9763-473cf2367f7c,2025-06-11T21:45:10.807876+00:00,2025-06-11T21:45:10.807876,Izly,375f6818-617f-43f5-b71b-44b383153a3e,0,375f6818-617f-43f5-b71b-44b383153a3e,True,Izly,2025-06-11T21:45:10.807876+00:00,2025-06-11T21:45:10.807876,Unknown
2,1a9ee7eb-4a21-4139-ae0a-384b3f81c605,2025-06-11T21:45:10.999874+00:00,2025-06-11T21:45:10.999874,Tricount,c3886faf-47d7-4002-baaf-eb01b05e6e0c,0,c3886faf-47d7-4002-baaf-eb01b05e6e0c,True,Tricount,2025-06-11T21:45:10.999874+00:00,2025-06-11T21:45:10.999874,Unknown
3,97cc6e68-43bb-42c1-b834-9a668e798939,2025-06-11T21:45:11.124325+00:00,2025-06-11T21:45:11.124325,Espèces,9ab2cff1-9cb1-41eb-8a0c-7836af996a83,0,9ab2cff1-9cb1-41eb-8a0c-7836af996a83,True,Espèces,2025-06-11T21:45:11.124325+00:00,2025-06-11T21:45:11.124325,Unknown
4,0ffb173b-9588-4d5a-baa2-142b4ae17469,2025-06-11T21:45:11.270983+00:00,2025-06-11T21:45:11.270983,Remboursement,125713e4-8612-42d8-a820-8e7954491ad0,0,125713e4-8612-42d8-a820-8e7954491ad0,True,Remboursement,2025-06-11T21:45:11.270983+00:00,2025-06-11T21:45:11.270983,Unknown
...,...,...,...,...,...,...,...,...,...,...,...,...
89,09ee3ae5-18e9-46d3-ac6e-322d7129b796,2025-06-11T22:06:45.059668+00:00,2025-06-11T22:06:45.059668,Lydia,f3fc106a-9930-45b2-bc59-1491119fccc1,0,f3fc106a-9930-45b2-bc59-1491119fccc1,True,Lydia,2025-06-11T21:45:11.437914+00:00,2025-06-11T21:45:11.437914,Unknown
90,5de10b15-d875-4d79-b5d8-d6767ac0f8d1,2025-06-11T22:06:45.12363+00:00,2025-06-11T22:06:45.12363,Compte Courant,46ac9283-8e93-4f4e-8995-0c8dad80406f,0,46ac9283-8e93-4f4e-8995-0c8dad80406f,True,Compte Courant,2025-06-11T21:45:10.551872+00:00,2025-06-11T21:45:10.551872,Unknown
91,4d87c79d-437d-4779-88f9-f7f18aec9d91,2025-06-11T22:06:45.194662+00:00,2025-06-11T22:06:45.194662,Espèces,9ab2cff1-9cb1-41eb-8a0c-7836af996a83,0,9ab2cff1-9cb1-41eb-8a0c-7836af996a83,True,Espèces,2025-06-11T21:45:11.124325+00:00,2025-06-11T21:45:11.124325,Unknown
92,9b2b11a5-9f3c-40d0-bc24-66338e314464,2025-06-11T22:06:45.276202+00:00,2025-06-11T22:06:45.276202,Remboursement,125713e4-8612-42d8-a820-8e7954491ad0,0,125713e4-8612-42d8-a820-8e7954491ad0,True,Remboursement,2025-06-11T21:45:11.270983+00:00,2025-06-11T21:45:11.270983,Unknown
93,cdec7c05-c573-4ff8-a93f-1c287eda80be,2025-06-11T22:06:45.351209+00:00,2025-06-11T22:06:45.351209,Tricount,c3886faf-47d7-4002-baaf-eb01b05e6e0c,0,c3886faf-47d7-4002-baaf-eb01b05e6e0c,True,Tricount,2025-06-11T21:45:10.999874+00:00,2025-06-11T21:45:10.999874,Unknown

In [29]:
from uuid import UUID, uuid4
from datetime import datetime
master_transactions = []
slaves_transactions = []
for index, row in df_paiement.iterrows():
    # Get account type ID for this transaction
    account_credit = row["account_credit"]
    account_debit = row["account_debit"]
    date=pd.Timestamp(datetime.now().timestamp())
    creditId=uuid4()
    debitId=uuid4()
    if row['Montant']>0:
        master_transactions.append(Transaction(
            transactionId=creditId,
            created_at=date,
            updated_at=date,
            description=row["Description"],
            date=pd.Timestamp(row["Date"]),
            type="debit",
            amount=-row["Montant"],
            accountId=account_debit
    ))
        slaves_transactions.append(TransactionSlave(
            slaveId=debitId,
            created_at=date,
            updated_at=date,
            type="debit",
            amount=row["Montant"],
            date=pd.Timestamp(row["Date"]),
            accountId=account_debit,
            masterId=creditId,
                ))
    else:
        raise ValueError(f"Montant négatif pour la transaction {row}")

,Identifiant,Date,Montant,Type,Raison,Compte,Explication
0,23BEFÉVR02,2023-02-01,41.83,Parents,prêt,Compte Courant,None
1,23BEFÉVR02,2023-02-01,710.00,Parents,Allocation parent,Compte Courant,None
2,23BEFÉVR03,2023-02-03,27.74,Remboursement,23HAFÉVR05,Tricount,Raclette
3,23BEFÉVR04,2023-02-05,6.93,Remboursement,23HAFÉVR05,Remboursement,Raclette
4,23BEFÉVR05,2023-02-22,19.44,Remboursement,23HAFÉVR48,Tricount,wifi +innocent
...,...,...,...,...,...,...,...
155,24BEMAI05,2024-05-31,2683.06,Salaires,salaire mai 2024,Compte Courant,None
156,24BEJUIN01,2024-06-03,1348.15,Salaires,bonus juin Carrefour,Compte Courant,None
157,24BEJUIN02,2024-06-03,821.90,Parents,VIREMENT INSTANTANE VIR INST PAPEREUX VERONIQ...,Compte Courant,None
158,24BEJUIN03,2024-06-05,127.00,APL,Caf juin,Compte Courant,None
159,24BEMAI06,2024-05-09,65.00,Remboursement,reçu lydia,Lydia,None

### LCL

#### Compte Courant

In [6]:
from ploutos.utils.scraping.scrap_lcl import convert_LCLpdf_to_df

old_lcl=convert_LCLpdf_to_df("ploutos/data/lcl/compte_courant")

100%|██████████| 4/4 [00:00<?, ?it/s]
  0%|          | 0/4 [00:00<?, ?it/s]Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'
100%|██████████| 4/4 [00:11<00:00,  3.00s/it]
4it [00:00, 3813.87it/s]

In [38]:
def calculate_last_transaction(db_payement, db_transfert, db_benefices,account):
    last_transaction=[]
    last_transaction.append(db_payement[db_payement["Compte"]==account]["Date"].max())
    last_transaction.append(db_transfert[db_transfert["Compte arrivée"]==account]["Date"].max())
    last_transaction.append(db_transfert[db_transfert["Compte départ"]==account]["Date"].max())
    last_transaction.append(db_benefices[db_benefices["Compte"]==account]["Date"].max())
    last_transaction=[ts for ts in last_transaction if pd.notna(ts)]
    if len(last_transaction)>0:
        last_transaction=max(last_transaction)
    else:
        last_transaction=None
    return last_transaction

In [39]:
last_transaction=calculate_last_transaction(df_paiement, df_transfert, df_benefices,"Compte Courant").strftime("%Y-%m-%d")
transactions=account_api.get_transactions(date_from='2024-06-06')
print(last_transaction)

2024-06-16

,transactionId,entryReference,Date,Date valeur,Montant_dict,Description,internalTransactionId,Montant,Type
0,c7c6fb8c-b433-4b6e-ae51-d26c1a3f0bae,c7c6fb8c-b433-4b6e-ae51-d26c1a3f0bae,2024-12-19,2024-12-19,"{'amount': '-3191.52', 'currency': 'EUR'}",PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPA...,54b07613266144b815fd4a2aa60c7927,-3191.52,Booked
1,9604ae60-eeae-4eb8-8053-20f71b758299,9604ae60-eeae-4eb8-8053-20f71b758299,2024-12-19,2024-12-19,"{'amount': '1000', 'currency': 'EUR'}",VIREMENT\n\nVIREMENT M JEREMY BON\n\n\n\nSCR43...,e2b373383d2baeeaff7283b08b15121a,1000.00,Booked

In [40]:
debit_old=old_lcl[(old_lcl["Date"] <= "2024-09-30")&(old_lcl["Date"] > last_transaction)]['DEBIT'].sum()
credit_old=old_lcl[(old_lcl["Date"] <= "2024-09-30")&(old_lcl["Date"] > last_transaction)]['CREDIT'].sum()
sheet_value=float(sheet_migration.account_list[sheet_migration.account_list["Compte"]=="Compte Courant"]["Actuel"].values[0].replace("€","").replace(",","."))
end_september_balance=float(sheet_value)+credit_old-debit_old
print(f"End of September balance: {end_september_balance}")
current_balance=end_september_balance+transactions[transactions["Date"]>'2024-09-30']['Montant'].sum()
print(f"Current balance: {current_balance}")
official_balance=account_api.get_balance()
print(f"Official balance: {official_balance}")

End of September balance: 2032.9199999999983
Current balance: 407.3699999999976
[{'balanceAmount': {'amount': '530.82', 'currency': 'EUR'}, 'balanceType': 'expected', 'referenceDate': '2024-12-23'}, {'balanceAmount': {'amount': '407.37', 'currency': 'EUR'}, 'balanceType': 'closingBooked', 'referenceDate': '2024-12-20'}]
Official balance: 407.37

#### Compte Epargne

Le livret jeune n'a pas subi de changement et va fermer. On regarde uniquement le livret A.
On détecte les transactions de M JEREMY BON dans le compte courant avec `(transactions["Description"].str.contains("M JEREMY BON"))`

In [31]:
df_transfert[df_transfert["Compte départ"]=="Livret A"]

,Identifiant,Date,Montant,Type,Description,Compte départ,Compte arrivée
95,23TRDÉCE07,2023-12-28,5000.0,Investissement,natixis carrefour,Livret A,Carrefour Natixis
109,24TRJUIN02,2024-06-16,1691.9,Transfert interne,transfert caf + loyer,Livret A,Compte Courant
110,24TRJUIN03,2024-06-16,5700.0,Transfert interne,avril+mai+juin16,Livret A,Compte Courant

In [42]:
convert_LCLpdf_to_df("ploutos/data/lcl/compte_livret")
last_transaction=calculate_last_transaction(df_paiement, df_transfert, df_benefices,"Livret A")
print(last_transaction)

100%|██████████| 1/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:05<00:00,  5.93s/it]
1it [00:00, 124.95it/s]

2024-06-16 00:00:00

In [65]:
debit_old=old_lcl[(old_lcl["Description"].str.contains("M JEREMY BON"))&(old_lcl["Date"] <= "2024-09-30")&(old_lcl["Date"] > last_transaction)]['DEBIT'].sum()
credit_old=old_lcl[(old_lcl["Description"].str.contains("M JEREMY BON"))&(old_lcl["Date"] <= "2024-09-30")&(old_lcl["Date"] > last_transaction)]['CREDIT'].sum()
sheet_value=float(sheet_migration.account_list[sheet_migration.account_list["Compte"]=="Livret A"]["Actuel"].values[0].replace("€","").replace(",",".").replace("\u202f",""))
end_september_balance=float(sheet_value)-credit_old+debit_old
print(f"End of September balance: {end_september_balance}")
current_balance=end_september_balance-transactions[(transactions["Description"].str.contains("M JEREMY BON"))&(transactions["Date"]>'2024-09-30')]['Montant'].sum()
print(f"Current balance: {current_balance}")
official_balance=8000
print(f"Official balance: {official_balance}")

End of September balance: 10591.52
Current balance: 8000.0
Official balance: 8000

### Lydia

In [70]:
last_transaction=calculate_last_transaction(df_paiement, df_transfert, df_benefices,"Lydia")
print(last_transaction)
sheet_value=float(sheet_migration.account_list[sheet_migration.account_list["Compte"]=="Lydia"]["Actuel"].values[0].replace("€","").replace(",",".").replace("\u202f",""))
print(f"Lydia balance on {last_transaction.strftime('%Y-%m-%d')}: {sheet_value}")

2024-06-22 00:00:00
Lydia balance on 2024-06-22: 8.41

In [79]:
lydia_account_value=50.84
new_transaction_lydia=pd.DataFrame([{
    "Date":"2024-09-01",
    "Libellé":"Madrid Gael Terier",
    "Montant":38.89,
    "Compte":"Lydia",
},
{
    "Date":"2024-08-31",
    "Libellé":"Guilhem Leborgne",
    "Montant": -4,
    "Compte":"Lydia",
    
},
{
    "Date":"2024-08-27",
    "Libellé":"Dépôt crte revolut 7255",
    "Montant": 25,
    "Compte":"Lydia",
},{
    "Date":"2024-08-27",
    "Libellé":"Guilhem Leborgne",
    "Montant": -25,
    "Compte":"Lydia",
},
{
    "Date":"2024-07-25",
    "Libellé":"Kdo Juan Lucie Formery",
    "Montant": -8.33,
    "Compte":"Lydia",
},
{
    "Date":"2024-07-25",
    "Libellé":"Juanita PA",
    "Montant": -3.33,
    "Compte":"Lydia",
},
{
    "Date":"2024-07-16",
    "Libellé":"Tren Gijon Lucie Formery",
    "Montant": 27.1,
    "Compte":"Lydia",
},
{
    "Date":"2024-07-01",
    "Libellé":"Thai Bastien Englebert",
    "Montant": -7.9,
    "Compte":"Lydia",
}
])
assert new_transaction_lydia['Montant'].sum()+sheet_value==lydia_account_value

### Revolut

In [1]:
cd c:\Users\bonje\Documents\Perso\ploutos

c:\Users\bonje\Documents\Perso\ploutos

c:\Users\bonje\AppData\Local\pypoetry\Cache\virtualenvs\ploutos-wcQ0yzvx-py3.11\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:

from ploutos.api.bank_api import BankApi, Bank

In [5]:
lcl_api.get_transactions()

,transactionId,entryReference,Date,Date valeur,Montant_dict,Description,internalTransactionId,Montant,Type
0,19bbbc83-27c4-48ec-81b8-f107331284aa,19bbbc83-27c4-48ec-81b8-f107331284aa,2024-12-24,2024-12-24,"{'amount': '-186.88', 'currency': 'EUR'}",PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CAR...,eabb272d4c79ec85213d4937265e01a3,-186.88,Booked
1,21b35710-9549-4d1a-8c9f-98aefa8cd908,21b35710-9549-4d1a-8c9f-98aefa8cd908,2024-12-23,2024-12-23,"{'amount': '-234.44', 'currency': 'EUR'}",PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CAR...,8dc28dfacbcf10bb7cc08644449e514b,-234.44,Booked
2,cdc8c21c-c916-4f75-8cef-4ce39eb824b4,cdc8c21c-c916-4f75-8cef-4ce39eb824b4,2024-12-21,2024-12-21,"{'amount': '858.89', 'currency': 'EUR'}",VIREMENT INSTANTANE\n\nVIR INST PAPEREUX VERON...,5ae676f9941220df5f4505874fc4c181,858.89,Booked
3,67223268-c5bd-41db-8c91-9f59cf298ccb,67223268-c5bd-41db-8c91-9f59cf298ccb,2024-12-20,2024-12-20,"{'amount': '-1', 'currency': 'EUR'}",CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR I...,e94f653b2fb471136b73170853a8d7d8,-1.00,Booked
4,338a8d1b-6e12-4e13-9471-f0c1d5fac049,338a8d1b-6e12-4e13-9471-f0c1d5fac049,2024-12-20,2024-12-20,"{'amount': '-500', 'currency': 'EUR'}",VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon rev...,6eaf07cecc5c426e00aded5c611e4b5e,-500.00,Booked
...,...,...,...,...,...,...,...,...,...
56,33856a27-385e-46af-9dc8-12ccda507cb8,33856a27-385e-46af-9dc8-12ccda507cb8,2024-10-07,2024-10-07,"{'amount': '-250', 'currency': 'EUR'}",PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPA...,ea53ba70844b537f0e9ada5a90c60a9b,-250.00,Booked
57,db5f44d2-8921-4bd6-8261-22bdf23e1895,db5f44d2-8921-4bd6-8261-22bdf23e1895,2024-10-02,2024-10-02,"{'amount': '100', 'currency': 'EUR'}",VIREMENT INSTANTANE\n\nVIR INST MME PAPEREUX N...,1a4a43966a1eb1e29758b7db7dcc0dc9,100.00,Booked
58,d52ed06d-5e4f-4394-83ce-06b63c5bbbd6,d52ed06d-5e4f-4394-83ce-06b63c5bbbd6,2024-09-30,2024-09-30,"{'amount': '710', 'currency': 'EUR'}",VIREMENT INSTANTANE\n\nVIR INST Adrien BRUN\nL...,dff023ef479eeb8a17a95f54f175ce4a,710.00,Booked
59,ad6bbc08-1e2c-481b-9f2b-853f1d1608bf,ad6bbc08-1e2c-481b-9f2b-853f1d1608bf,2024-09-30,2024-09-30,"{'amount': '-668.55', 'currency': 'EUR'}",VIREMENT\n\nVIR SEPA vulpian nouveau\nbon vulp...,13dd5291cfb0c25f7974b30d3026bde3,-668.55,Booked
60,84348d02-bad0-431a-b096-ea823f4c370f,84348d02-bad0-431a-b096-ea823f4c370f,2024-09-30,2024-09-30,"{'amount': '2657.69', 'currency': 'EUR'}",VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANC...,08fc423de2b7d9bac0a4410247c5d48a,2657.69,Booked

In [3]:
lcl_api=BankApi(Bank.LCL)
lcl_api.api.get_transactions()

Bank.LCL <enum 'Bank'> True
Successfully connected to Bank.LCL

{'transactions': {'booked': [{'transactionId': '19bbbc83-27c4-48ec-81b8-f107331284aa',
    'entryReference': '19bbbc83-27c4-48ec-81b8-f107331284aa',
    'bookingDate': '2024-12-24',
    'valueDate': '2024-12-24',
    'transactionAmount': {'amount': '-186.88', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CARREFOUR BANQUE\nICS.FR83ZZZ135674\n.RUM.CS00-5135889367110\n0\nSDR435844993947'],
    'internalTransactionId': 'eabb272d4c79ec85213d4937265e01a3'},
   {'transactionId': '21b35710-9549-4d1a-8c9f-98aefa8cd908',
    'entryReference': '21b35710-9549-4d1a-8c9f-98aefa8cd908',
    'bookingDate': '2024-12-23',
    'valueDate': '2024-12-23',
    'transactionAmount': {'amount': '-234.44', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CARREFOUR BANQUE\nICS.FR83ZZZ135674\n.RUM.CS00-5135889367110\n0\nSDR435543806434'],
    'internalTransactionId': '8dc28dfacbcf10bb7cc08644449e514b'},
   {'transactionId': 'cdc8c21c-c916-4f75-8cef-4ce39eb824b4',
    'entryReference': 'cdc8c21c-c916-4f75-8cef-4ce39eb824b4',
    'bookingDate': '2024-12-21',
    'valueDate': '2024-12-21',
    'transactionAmount': {'amount': '858.89', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST PAPEREUX VERONIQUE\nVirement avec Fortuneo Jeremy L\n\n\nIPR000128763802'],
    'internalTransactionId': '5ae676f9941220df5f4505874fc4c181'},
   {'transactionId': '67223268-c5bd-41db-8c91-9f59cf298ccb',
    'entryReference': '67223268-c5bd-41db-8c91-9f59cf298ccb',
    'bookingDate': '2024-12-20',
    'valueDate': '2024-12-20',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000128723944'],
    'internalTransactionId': 'e94f653b2fb471136b73170853a8d7d8'},
   {'transactionId': '338a8d1b-6e12-4e13-9471-f0c1d5fac049',
    'entryReference': '338a8d1b-6e12-4e13-9471-f0c1d5fac049',
    'bookingDate': '2024-12-20',
    'valueDate': '2024-12-20',
    'transactionAmount': {'amount': '-500', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000128723944'],
    'internalTransactionId': '6eaf07cecc5c426e00aded5c611e4b5e'},
   {'transactionId': 'c7c6fb8c-b433-4b6e-ae51-d26c1a3f0bae',
    'entryReference': 'c7c6fb8c-b433-4b6e-ae51-d26c1a3f0bae',
    'bookingDate': '2024-12-19',
    'valueDate': '2024-12-19',
    'transactionAmount': {'amount': '-3191.52', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPARGNE SAL. PRELEVEM\nICS.FR76ZZZ245313\n.RUM.I00BN72\n\nSDR435341208960'],
    'internalTransactionId': '54b07613266144b815fd4a2aa60c7927'},
   {'transactionId': '9604ae60-eeae-4eb8-8053-20f71b758299',
    'entryReference': '9604ae60-eeae-4eb8-8053-20f71b758299',
    'bookingDate': '2024-12-19',
    'valueDate': '2024-12-19',
    'transactionAmount': {'amount': '1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIREMENT M JEREMY BON\n\n\n\nSCR435419037791'],
    'internalTransactionId': 'e2b373383d2baeeaff7283b08b15121a'},
   {'transactionId': '8ccbb61c-d5d5-4cd3-a478-030528e7550f',
    'entryReference': '8ccbb61c-d5d5-4cd3-a478-030528e7550f',
    'bookingDate': '2024-12-19',
    'valueDate': '2024-12-19',
    'transactionAmount': {'amount': '-6043.96', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPARGNE SAL. PRELEVEM\nICS.FR76ZZZ245313\n.RUM.I00AVI4\n\nSDR435341208959'],
    'internalTransactionId': 'd6b64da3a062a52050205a8952ae8f04'},
   {'transactionId': '861a3553-83df-4538-8682-e24be465ed00',
    'entryReference': '861a3553-83df-4538-8682-e24be465ed00',
    'bookingDate': '2024-12-17',
    'valueDate': '2024-12-17',
    'transactionAmount': {'amount': '2191.52', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIREMENT M JEREMY BON\n\n\n\nSCR435216027477'],
    'internalTransactionId': 'a38f65e2e8779f760dd9c3c3194498c1'},
   {'transactionId': '0955d406-ac51-4894-8bcb-2aa58ebc5706',
    'entryReference': '0955d406-ac51-4894-8bcb-2aa58ebc5706',
    'bookingDate': '2024-12-17',
    'valueDate': '2024-12-17',
    'transactionAmount': {'amount': '946.44', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANCE\nKDS PROFESSIONEL EXPENSE\n\n\nSCR435210030045'],
    'internalTransactionId': '629b5c38772986b2b01fc055ac824a5c'},
   {'transactionId': '328c2090-4a68-4478-8295-5fc91ea9094f',
    'entryReference': '328c2090-4a68-4478-8295-5fc91ea9094f',
    'bookingDate': '2024-12-16',
    'valueDate': '2024-12-16',
    'transactionAmount': {'amount': '1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIREMENT M JEREMY BON\n\n\n\nSCR435225048393'],
    'internalTransactionId': 'e8a609953bcf370129d99a6454a0522c'},
   {'transactionId': '57e33e49-2e43-4025-b50c-e13dc87afba5',
    'entryReference': '57e33e49-2e43-4025-b50c-e13dc87afba5',
    'bookingDate': '2024-12-13',
    'valueDate': '2024-12-13',
    'transactionAmount': {'amount': '2082.47', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANCE\nKDS PROFESSIONEL EXPENSE\n\n\nSCR434830039683'],
    'internalTransactionId': 'd41abd2a10e97bcd312917eed94266e2'},
   {'transactionId': '6076dded-69b7-41ed-8d4c-7e16eba8bb94',
    'entryReference': '6076dded-69b7-41ed-8d4c-7e16eba8bb94',
    'bookingDate': '2024-12-12',
    'valueDate': '2024-12-12',
    'transactionAmount': {'amount': '-1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000127216262'],
    'internalTransactionId': '503eecd0b5537e9afd712ea99b27579d'},
   {'transactionId': '43b7cd56-ec8e-41b4-a75b-9fd66a357e31',
    'entryReference': '43b7cd56-ec8e-41b4-a75b-9fd66a357e31',
    'bookingDate': '2024-12-12',
    'valueDate': '2024-12-12',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000127216262'],
    'internalTransactionId': '970209802dc3a1896736305c8be5d2a6'},
   {'transactionId': 'a080282f-f4c0-4515-9c3b-1ce8c38aa39a',
    'entryReference': 'a080282f-f4c0-4515-9c3b-1ce8c38aa39a',
    'bookingDate': '2024-12-11',
    'valueDate': '2024-12-11',
    'transactionAmount': {'amount': '-20', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CARREFOUR BANQUE\nICS.FR83ZZZ135674\n.RUM.CS00-5135889367110\n0\nSDR434535552041'],
    'internalTransactionId': '49c6287d2fd15c85ddf4f432abad1f05'},
   {'transactionId': '69926375-1add-41c7-b65a-2d2cfe7ac5d6',
    'entryReference': '69926375-1add-41c7-b65a-2d2cfe7ac5d6',
    'bookingDate': '2024-12-11',
    'valueDate': '2024-12-11',
    'transactionAmount': {'amount': '-858.89', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELEVEMENT DES PRETS\n\nECHEANCE PRET PERSONNEL 111224\n33500045658144272086676PP999226\n\n\n'],
    'internalTransactionId': 'dbbad550113c626c590d1404125ddee1'},
   {'transactionId': 'ef0cb9d8-4919-4032-b00c-28d7bb2a4184',
    'entryReference': 'ef0cb9d8-4919-4032-b00c-28d7bb2a4184',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '20', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST PAPEREUX VERONIQUE\nGg\n\n\nIPR000126901225'],
    'internalTransactionId': '40e8ee30f484936dcad0ede8309c02f2'},
   {'transactionId': 'e9d6fc7a-a725-429e-ad21-edee6720a44f',
    'entryReference': 'e9d6fc7a-a725-429e-ad21-edee6720a44f',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '-2.25', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['DEBIT DIVERS\n\nASSURANCE MOYEN DE PAIEMENT\n\n\n\n'],
    'internalTransactionId': '8dd41009458076b62645c6d06f163918'},
   {'transactionId': 'c8ff02ee-69a9-4046-9b68-cc6e34b85378',
    'entryReference': 'c8ff02ee-69a9-4046-9b68-cc6e34b85378',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '132.87', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST PAPEREUX VERONIQUE\nGg\n\n\nIPR000126902509'],
    'internalTransactionId': '4e4940419afee609d0176b1c34120df4'},
   {'transactionId': '47dcf96f-4d08-4a81-adb8-3bd1ed64790d',
    'entryReference': '47dcf96f-4d08-4a81-adb8-3bd1ed64790d',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '-132.87', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CARREFOUR BANQUE\nICS.FR83ZZZ135674\n.RUM.CS00-5135889367110\n0\nSDR434433744567'],
    'internalTransactionId': '71301e610386ef6106918a843cc2ab16'},
   {'transactionId': '0b32dc8d-a0e7-4483-ab05-2021a2e83508',
    'entryReference': '0b32dc8d-a0e7-4483-ab05-2021a2e83508',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '717.78', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST PAPEREUX VERONIQUE\nGg\n\n\nIPR000126897065'],
    'internalTransactionId': '07de8cf8ae53bb5e824dbf16ddb90b95'},
   {'transactionId': '0533d291-6185-463f-92f9-de4b6a5ab7b9',
    'entryReference': '0533d291-6185-463f-92f9-de4b6a5ab7b9',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '-700', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIR SEPA far home bernabeu\n\n\n\nSCA434550593744'],
    'internalTransactionId': '830d55d9736e59f2125e5123eb9b69ba'},
   {'transactionId': '722a3483-dc4e-4953-8c0a-8f3afd28a331',
    'entryReference': '722a3483-dc4e-4953-8c0a-8f3afd28a331',
    'bookingDate': '2024-12-05',
    'valueDate': '2024-12-05',
    'transactionAmount': {'amount': '-250', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPARGNE SAL. PRELEVEM\nICS.FR76ZZZ245313\n.RUM.I00AVI5\n\nSDR433926953570'],
    'internalTransactionId': '447f40759451de9aadb23468067dbab5'},
   {'transactionId': 'be435fb8-1332-4d17-8a02-523b67f7cd26',
    'entryReference': 'be435fb8-1332-4d17-8a02-523b67f7cd26',
    'bookingDate': '2024-12-04',
    'valueDate': '2024-12-04',
    'transactionAmount': {'amount': '-1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000125601040'],
    'internalTransactionId': 'ff25c95caf47396520fbe6054dede31f'},
   {'transactionId': '71aefbe8-09fc-4aca-bb83-cad76473641d',
    'entryReference': '71aefbe8-09fc-4aca-bb83-cad76473641d',
    'bookingDate': '2024-12-04',
    'valueDate': '2024-12-04',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000125601040'],
    'internalTransactionId': 'e600e9cd47d100aa38459f9a93e4b7be'},
   {'transactionId': '3f481c33-8d84-4226-a771-52ac10592451',
    'entryReference': '3f481c33-8d84-4226-a771-52ac10592451',
    'bookingDate': '2024-12-03',
    'valueDate': '2024-12-03',
    'transactionAmount': {'amount': '2888.89', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANCE\n\n\n\nSCR433810009834'],
    'internalTransactionId': '0213f86c1215004a139fabc4d69cce38'},
   {'transactionId': 'e882c01a-aae8-49c3-afb8-7d9b212f2b73',
    'entryReference': 'e882c01a-aae8-49c3-afb8-7d9b212f2b73',
    'bookingDate': '2024-12-02',
    'valueDate': '2024-12-02',
    'transactionAmount': {'amount': '-18', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CARREFOUR BANQUE\nICS.FR83ZZZ135674\n.RUM.CS00-5135889367110\n0\nSDR433422266377'],
    'internalTransactionId': 'd4d4efe0e874d295619e256a855edd9e'},
   {'transactionId': '6c982946-c3f0-42b9-a807-139202f6edfd',
    'entryReference': '6c982946-c3f0-42b9-a807-139202f6edfd',
    'bookingDate': '2024-11-29',
    'valueDate': '2024-11-29',
    'transactionAmount': {'amount': '2598', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANCE\n\n\n\nSCR433319040922'],
    'internalTransactionId': '703e648e3317b098536f5edd4f983438'},
   {'transactionId': 'fb8b299a-efee-4b52-9e9b-0c9d324a519f',
    'entryReference': 'fb8b299a-efee-4b52-9e9b-0c9d324a519f',
    'bookingDate': '2024-11-28',
    'valueDate': '2024-11-28',
    'transactionAmount': {'amount': '710', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Adrien BRUN\nVirement de Adrien BRUN\n\n\nIPR000124175600'],
    'internalTransactionId': 'd2137310c37c5ddad9094f40c90b5f6b'},
   {'transactionId': 'd988c851-c1f4-4634-bdc7-d0b0d9484c85',
    'entryReference': 'd988c851-c1f4-4634-bdc7-d0b0d9484c85',
    'bookingDate': '2024-11-21',
    'valueDate': '2024-11-21',
    'transactionAmount': {'amount': '-1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000123103274'],
    'internalTransactionId': '37cd3c3cb0b731a921f55d81ba37bfbc'},
   {'transactionId': 'a491c064-7217-4946-a2f4-fcc812e49fd5',
    'entryReference': 'a491c064-7217-4946-a2f4-fcc812e49fd5',
    'bookingDate': '2024-11-21',
    'valueDate': '2024-11-21',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000123103274'],
    'internalTransactionId': 'c62fa45827b82c39a3d3bbf905737797'},
   {'transactionId': '2b244082-a6d9-4a25-b213-47cbac49b79f',
    'entryReference': '2b244082-a6d9-4a25-b213-47cbac49b79f',
    'bookingDate': '2024-11-21',
    'valueDate': '2024-11-21',
    'transactionAmount': {'amount': '1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIREMENT M JEREMY BON\n\n\n\nSCR432725037560'],
    'internalTransactionId': 'c05a6cde565f9e06c02fc9e42dd03e6c'},
   {'transactionId': 'b74e2e78-cb45-422d-ba6b-4809c1e6a9d6',
    'entryReference': 'b74e2e78-cb45-422d-ba6b-4809c1e6a9d6',
    'bookingDate': '2024-11-20',
    'valueDate': '2024-11-20',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000122881021'],
    'internalTransactionId': 'ac4a2708569f06e5eec89a2256ad90d8'},
   {'transactionId': '88eeec1b-065a-4449-9c4d-5b34d8a7cbd2',
    'entryReference': '88eeec1b-065a-4449-9c4d-5b34d8a7cbd2',
    'bookingDate': '2024-11-20',
    'valueDate': '2024-11-20',
    'transactionAmount': {'amount': '-200', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000122881021'],
    'internalTransactionId': '2fc0616f2d4cbb80602764eff9b77d49'},
   {'transactionId': '7cf03c9f-c60b-4ef4-930c-5bf52eb9b25c',
    'entryReference': '7cf03c9f-c60b-4ef4-930c-5bf52eb9b25c',
    'bookingDate': '2024-11-13',
    'valueDate': '2024-11-13',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000121871277'],
    'internalTransactionId': 'ee6719a7338f0c2a6a00c8ac97e05228'},
   {'transactionId': '0cf68c4f-f6b5-4be9-8639-2cc056e89615',
    'entryReference': '0cf68c4f-f6b5-4be9-8639-2cc056e89615',
    'bookingDate': '2024-11-13',
    'valueDate': '2024-11-13',
    'transactionAmount': {'amount': '-500', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000121871277'],
    'internalTransactionId': 'a6929654ee760f07ad938ff252a892be'},
   {'transactionId': '43e1bc51-ef3a-49f9-9a00-9a0a2db4acb3',
    'entryReference': '43e1bc51-ef3a-49f9-9a00-9a0a2db4acb3',
    'bookingDate': '2024-11-12',
    'valueDate': '2024-11-12',
    'transactionAmount': {'amount': '-858.89', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELEVEMENT DES PRETS\n\nECHEANCE PRET PERSONNEL 121124\n30301278028144272086676PP999226\n\n\n'],
    'internalTransactionId': '603680d634a4fbdeb5f9f101dfe95b03'},
   {'transactionId': '17e5f194-ea55-4f8c-a102-1f7639938abe',
    'entryReference': '17e5f194-ea55-4f8c-a102-1f7639938abe',
    'bookingDate': '2024-11-12',
    'valueDate': '2024-11-12',
    'transactionAmount': {'amount': '-2.25', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['DEBIT DIVERS\n\nASSURANCE MOYEN DE PAIEMENT\n\n\n\n'],
    'internalTransactionId': '405d6874d707f9bebcdc233b69f71c71'},
   {'transactionId': '4baaeb3b-e828-4674-b1ba-64c0b295b763',
    'entryReference': '4baaeb3b-e828-4674-b1ba-64c0b295b763',
    'bookingDate': '2024-11-11',
    'valueDate': '2024-11-11',
    'transactionAmount': {'amount': '-668.55', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIR SEPA vulpian nouveau\nvulpian bon novembre\n\n\nSCA431652029635'],
    'internalTransactionId': '4c514b71b88a4fa3bf1d94d0ef4d0968'},
   {'transactionId': 'fbeb4627-b621-4948-8a21-540d92fa5c67',
    'entryReference': 'fbeb4627-b621-4948-8a21-540d92fa5c67',
    'bookingDate': '2024-11-09',
    'valueDate': '2024-11-09',
    'transactionAmount': {'amount': '-1300', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIR SEPA far home\njeremy bon november\n\n\nSCA431650386917'],
    'internalTransactionId': '78a95a0332f782dcb36d0b2abec98daf'},
   {'transactionId': '213677fa-8fce-4ae2-ac7c-d905997bfc13',
    'entryReference': '213677fa-8fce-4ae2-ac7c-d905997bfc13',
    'bookingDate': '2024-11-05',
    'valueDate': '2024-11-05',
    'transactionAmount': {'amount': '-250', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPARGNE SAL. PRELEVEM\nICS.FR76ZZZ245313\n.RUM.I00AVI5\n\nSDR430695730998'],
    'internalTransactionId': 'a00ee9e922500f447fa5aac648d70437'},
   {'transactionId': 'd696c782-e961-412e-a369-5b8ec31ca864',
    'entryReference': 'd696c782-e961-412e-a369-5b8ec31ca864',
    'bookingDate': '2024-11-01',
    'valueDate': '2024-11-01',
    'transactionAmount': {'amount': '-600', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000119563778'],
    'internalTransactionId': '83cd0bc0271498bf584792abe399f633'},
   {'transactionId': 'c7f26fb5-82db-403d-97c4-bf3ec1f52510',
    'entryReference': 'c7f26fb5-82db-403d-97c4-bf3ec1f52510',
    'bookingDate': '2024-11-01',
    'valueDate': '2024-11-01',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000119563778'],
    'internalTransactionId': '7fe8c553e975667ae2b56d1d6b2f3ede'},
   {'transactionId': '8449b6db-d3e0-4e21-8fe7-a8d860a08be6',
    'entryReference': '8449b6db-d3e0-4e21-8fe7-a8d860a08be6',
    'bookingDate': '2024-10-31',
    'valueDate': '2024-10-31',
    'transactionAmount': {'amount': '2613', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANCE\n\n\n\nSCR430430079174'],

In [4]:
revolut_api=BankApi(Bank.REVOLUT)

Bank.REVOLUT <enum 'Bank'> True
Successfully connected to Bank.REVOLUT

In [12]:
raw_transac=revolut_api.api.get_transactions()

In [19]:
pd.DataFrame(raw_transac['transactions']['pending'])

,transactionId,bookingDate,bookingDateTime,transactionAmount,creditorName,remittanceInformationUnstructuredArray,proprietaryBankTransactionCode
0,676e38ac-43f9-a794-b149-4d48950e9181,2024-12-27,2024-12-27T05:18:36.737745Z,"{'amount': '-40.85', 'currency': 'EUR'}",FREE MOBILE,"[To Free Mobile, FM-58933087-2]",TRANSFER
1,675b0d4c-5a51-a0d8-81ba-3f3900affeff,2024-12-12,2024-12-12T16:20:28.704598Z,"{'amount': '-150.00', 'currency': 'EUR'}",Carrefourlocnet,[Carrefourlocnet],CARD_PAYMENT

In [5]:
transac_rev=revolut_api.get_transactions()

Date and Date valeur are not the same
Error with length of description (Max length is greater than 1)
Error with length of description (Max length is greater than 1)

### Autres

In [6]:
transac_rev

,transactionId,Date,Date valeur,bookingDateTime,valueDateTime,Montant_dict,creditorName,Description,proprietaryBankTransactionCode,internalTransactionId,currencyExchange,debtorName,debtorAccount,creditorAccount,additionalDataStructured,Montant,Type
0,676ddb69-43be-a811-b18e-122aaab8fd8f,2024-12-26,2024-12-27,2024-12-26T22:40:41.243875Z,2024-12-27T09:35:16.196501Z,"{'amount': '-6.99', 'currency': 'EUR'}",Amazon Prime Fr 2469664,Amazon Prime Fr,CARD_PAYMENT,a6801c8dbdb09c3edcb70447e37c7332,NaN,NaN,NaN,NaN,NaN,-6.99,Booked
1,6769b70c-a5ec-a08e-b7de-45cf559238ab,2024-12-23,2024-12-25,2024-12-23T19:16:28.587891Z,2024-12-25T11:13:21.836815Z,"{'amount': '-2.60', 'currency': 'EUR'}",Avia,Avia,CARD_PAYMENT,a964cff762b52304f3f8244d8d20f7af,NaN,NaN,NaN,NaN,NaN,-2.60,Booked
2,67695c44-8772-a9ef-89f5-a9528c09fb26,2024-12-23,2024-12-25,2024-12-23T12:49:08.804907Z,2024-12-25T09:17:32.550402Z,"{'amount': '-16.40', 'currency': 'EUR'}",Papa Jo,Papa Jo,CARD_PAYMENT,eff9a03e7e8a9a4d119034881e646415,NaN,NaN,NaN,NaN,NaN,-16.40,Booked
3,676957dc-d904-a978-9373-c09a0fff8917,2024-12-23,2024-12-25,2024-12-23T12:30:20.374217Z,2024-12-25T11:06:41.861609Z,"{'amount': '-32.79', 'currency': 'EUR'}",Relais Fnac 0389974,Relais Fnac,CARD_PAYMENT,a544c1f07cbd43c90c86d4e521e3a240,NaN,NaN,NaN,NaN,NaN,-32.79,Booked
4,676961a8-a7c4-a546-ae24-2b0af4510318,2024-12-23,2024-12-24,2024-12-23T13:12:08.060012Z,2024-12-24T11:10:32.051135Z,"{'amount': '-69.82', 'currency': 'EUR'}",Babbel.com 154931523,Babbel.com 154931523,CARD_PAYMENT,6f148e4cb75532095ab1b284fde0811d,NaN,NaN,NaN,NaN,NaN,-69.82,Booked
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,66f88e7a-d40d-accf-80ae-71f355054baa,2024-09-28,2024-09-30,2024-09-28T23:17:14.677925Z,2024-09-30T14:21:13.974435Z,"{'amount': '-12.72', 'currency': 'EUR'}",Ticketsbolivia.com,ticketsbolivia.com,CARD_PAYMENT,31b3aa7e93c3dd34cb92fffc59566b8d,"{'instructedAmount': {'amount': '12.48', 'curr...",NaN,NaN,NaN,"{'chargeAmount': {'amount': '0.24', 'currency'...",-12.72,Booked
390,66f87bda-aa26-ad6e-bac9-9beffe011ecb,2024-09-28,2024-09-30,2024-09-28T21:57:46.460762Z,2024-09-30T14:22:30.781078Z,"{'amount': '-4.95', 'currency': 'EUR'}",Culqi*neyra Collection,Culqi*neyra Collection,CARD_PAYMENT,28ffad4f7562a2248ac048461500ee2a,"{'instructedAmount': {'amount': '4.85', 'curre...",NaN,NaN,NaN,"{'chargeAmount': {'amount': '0.10', 'currency'...",-4.95,Booked
391,66f87d14-f997-ad7a-b84d-47b964d687ac,2024-09-28,2024-09-29,2024-09-28T22:03:00.155685Z,2024-09-29T12:55:42.452366Z,"{'amount': '-2.47', 'currency': 'EUR'}",Izi*artesanias Cusco,Izi*artesanias Cusco,CARD_PAYMENT,6a43c98206b89bb36e4efa6562f87a9e,"{'instructedAmount': {'amount': '2.43', 'curre...",NaN,NaN,NaN,"{'chargeAmount': {'amount': '0.04', 'currency'...",-2.47,Booked
0,676e38ac-43f9-a794-b149-4d48950e9181,2024-12-27,NaT,2024-12-27T05:18:36.737745Z,NaN,"{'amount': '-40.85', 'currency': 'EUR'}",FREE MOBILE,To Free Mobile,TRANSFER,NaN,NaN,NaN,NaN,NaN,NaN,-40.85,Pending
1,675b0d4c-5a51-a0d8-81ba-3f3900affeff,2024-12-12,NaT,2024-12-12T16:20:28.704598Z,NaN,"{'amount': '-150.00', 'currency': 'EUR'}",Carrefourlocnet,Carrefourlocnet,CARD_PAYMENT,NaN,NaN,NaN,NaN,NaN,NaN,-150.00,Pending

In [67]:
sheet_migration.account_list

               Compte  Fin Janvier 2023       Actuel
0      Compte Courant           -760.35    -621,39 €
1        Livret Jeune             10.00   1 621,45 €
2               Lydia              4.05       8,41 €
3                Izly              7.60       0,00 €
4             Espèces              0.10       0,00 €
5            Tricount             23.21      38,84 €
6       Remboursement           -662.08       0,00 €
7      Lydia Vêtement              0.00       0,00 €
8          Lydia Vélo            510.43       0,00 €
9   Ticket Restaurant              0.00     156,18 €
10               Oddo           4431.26   2 931,26 €
11           Livret A              0.00  12 791,52 €
12  Carrefour Natixis              0.00   6 715,73 €
13            Revolut              0.00       0,00 €

    ### Tricount (A faire)

### ticket resto (A solde)

#### Natixis Interépargne