In [1]:
cd c:\Users\bonje\Documents\Perso\ploutos\ploutos

c:\Users\bonje\Documents\Perso\ploutos\ploutos

c:\Users\bonje\AppData\Local\pypoetry\Cache\virtualenvs\personalized-assortment-2GnB5z2G-py3.11\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:

from pandas import Timestamp

from dotenv import load_dotenv
import os
import pandas as pd
import warnings
warnings.filterwarnings("ignore")
from utils.sheet_migration import SheetMigration
load_dotenv(dotenv_path="notebook/.env", override=True)
import sys
from importlib import reload
from api.old.bank_api import BankApi, Bank
if 'api.bank_api' in sys.modules:
    reload(sys.modules['ploutos.api.bank_api'])
else:
    print("BankApi module not loaded yet - no need to reload")

BankApi module not loaded yet - no need to reload

### Sheet Migration

In [3]:
from api.old.bank_api import BankApi, Bank
if 'db.models' in sys.modules:
    reload(sys.modules['db.models'])
else:
    print("db.models module not loaded yet - no need to reload")

from db.models import *
#account_api=BankApi(Bank.LCL)

#print(account_api.get_metadata())

db.models module not loaded yet - no need to reload

In [4]:
sheet_migration=SheetMigration()

print(sheet_migration.account_list)

               Compte  Fin Janvier 2023       Actuel
0      Compte Courant           -760.35    -621,39 €
1        Livret Jeune             10.00   1 621,45 €
2               Lydia              4.05       8,41 €
3                Izly              7.60       0,00 €
4             Espèces              0.10       0,00 €
5            Tricount             23.21      38,84 €
6       Remboursement           -662.08       0,00 €
7      Lydia Vêtement              0.00       0,00 €
8          Lydia Vélo            510.43       0,00 €
9   Ticket Restaurant              0.00     156,18 €
10               Oddo           4431.26   2 931,26 €
11           Livret A              0.00  12 791,52 €
12  Carrefour Natixis              0.00   6 715,73 €
13            Revolut              0.00       0,00 €

In [5]:
df_paiement=sheet_migration.get_data("Paiement")
df_transfert=sheet_migration.get_data("Transfert")
df_benefices=sheet_migration.get_data("Bénéfices")

Date min: 2023-02-01 00:00:00
Date max: 2024-06-22 00:00:00
Nombre de lignes: 1310
Date min: 2023-02-03 00:00:00
Date max: 2024-06-16 00:00:00
Nombre de lignes: 113
Date min: 2023-02-01 00:00:00
Date max: 2024-06-05 00:00:00
Nombre de lignes: 158

In [6]:
df_paiement

,Identifiant,Date,Mois,Montant,Créances,Description,Catégorie,Sous Catégorie,Compte,Amortissement,Mois de départ
0,23HAFEVR01,2023-02-01,février 2023,6.90,,chargeur montre,Equipement,Techno,Compte Courant,1,0
1,23HAFÉVR02,2023-02-02,février 2023,10.00,,pizza,Nourriture,fast food,Compte Courant,1,0
2,23HAFÉVR03,2023-02-03,février 2023,41.60,"34,67 €",Raclette 04/03,Nourriture,repas quali,Compte Courant,1,0
3,23HAFÉVR04,2023-02-03,février 2023,10.56,,Sandwich ski + steaks,Nourriture,Courses Normal,Compte Courant,1,0
4,23HAFÉVR05,2023-02-03,février 2023,6.80,,Distributeur,Nourriture,Cochonneries,Compte Courant,1,0
...,...,...,...,...,...,...,...,...,...,...,...
1308,24HAJUIN07,2024-06-16,juin 2024,350.00,,remboursemen caf,Logement,Autre,Compte Courant,1,0
1309,24HAJUIN08,2024-06-19,juin 2024,6.00,,cadeau robin,Cadeau,Cadeau ami,Lydia,1,0
1310,24HAJUIN9,2024-06-21,juin 2024,12.00,,France - Pays Bas,Sorties,Alcool,Lydia,1,0
1311,24HAJUIN10,2024-06-22,juin 2024,5.00,,équilibrage lydia,Autre,,Lydia,1,0
1312,24HAFÉVR91,2024-02-03,février 2024,155.02,,tricount nn reporté atribué au logement (wifi ...,Logement,Charges,Tricount,3,0

In [58]:
accounts_to_create_budget=[]
for index, row in df_paiement[['Catégorie','Sous Catégorie']].drop_duplicates().iterrows():
    accounts_to_create_budget.append(AccountCreate(
        category=row['Catégorie'] or "Unknown",
        sub_category="Unknown",
        is_real=False,
        name=row['Sous Catégorie'] or "Unknown"
    ))
print("Budget accounts to create: ",len(accounts_to_create_budget))

Budget accounts to create:  74

In [59]:
accounts_to_creat_real=[]
for index, row in df_paiement[['Compte']].drop_duplicates().iterrows():
    accounts_to_creat_real.append(AccountCreate(
        category="Comptes courants",
        sub_category="Unknown",
        is_real=True,
        name=row['Compte'] or "Unknown"
    ))
print("Real accounts to create: ",len(accounts_to_creat_real))

Real accounts to create:  7

In [18]:
from api.deps import get_db
from api.routers.accounts import *
from fastapi import Depends
import asyncio
import nest_asyncio

# Apply nest_asyncio to allow nested event loops
nest_asyncio.apply()

# # Create accounts from sheet data
# async def create_accounts_from_sheet(accounts_to_create = []):
#     db = get_db
    
#     # Define account types based on sheet data
    
#     # Create accounts
#     for account in accounts_to_create:
#         try:
#             await create_account(account, db)
#             print(f"Created account: {account.name}")
#         except Exception as e:
#             print(f"Error creating account {account.name}: {str(e)}")

# Run the account creation using asyncio.run() since we're using nest_asyncio
#asyncio.run(create_accounts_from_sheet(accounts_to_creat_real+accounts_to_create_budget))

In [67]:
from api.routers.accounts import get_accounts
from api.deps import get_db

async def query_all_accounts():
    db = get_db
    accounts = await get_accounts(db)
    return accounts

# Run the query using asyncio.run() since we're using nest_asyncio
accounts = asyncio.run(query_all_accounts())
print("Found accounts:", len(accounts))
account_text=[accounts['name'] for accounts in accounts]
for account in accounts:
    account=Account(**account)
    print(f"- {account.name} (ID: {account.accountId})")

2025-05-25 21:14:02.810 | DEBUG    | api.routers.accounts:get_accounts:62 - Response: data=[{'accountId': '100f48ac-05d2-4c70-9c34-abb2aefacb4b', 'created_at': '2025-05-25T20:25:54.561745+00:00', 'updated_at': '2025-05-25T20:25:54.561745', 'name': 'Compte Courant', 'account_type': '8df2d0a8-7bd3-49ff-8e99-91d84ace7f0e'}, {'accountId': '6ea73058-dcca-439a-8fa4-0f580a3d2079', 'created_at': '2025-05-25T20:25:54.633374+00:00', 'updated_at': '2025-05-25T20:25:54.633374', 'name': 'Izly', 'account_type': '8df2d0a8-7bd3-49ff-8e99-91d84ace7f0e'}, {'accountId': 'f499123f-f583-4ff1-bacf-3e031f57084e', 'created_at': '2025-05-25T20:25:54.722168+00:00', 'updated_at': '2025-05-25T20:25:54.722168', 'name': 'Tricount', 'account_type': '8df2d0a8-7bd3-49ff-8e99-91d84ace7f0e'}, {'accountId': '66c4ec8a-0bb0-40dc-ac99-9f08d794e23a', 'created_at': '2025-05-25T20:25:54.796745+00:00', 'updated_at': '2025-05-25T20:25:54.796745', 'name': 'Espèces', 'account_type': '8df2d0a8-7bd3-49ff-8e99-91d84ace7f0e'}, {'accountId': 'b0e42d6b-8c72-40d2-8ef1-be878d7a1e49', 'created_at': '2025-05-25T20:25:54.876308+00:00', 'updated_at': '2025-05-25T20:25:54.876308', 'name': 'Remboursement', 'account_type': '8df2d0a8-7bd3-49ff-8e99-91d84ace7f0e'}, {'accountId': 'df96dd7e-b04b-468c-a234-11576f35644c', 'created_at': '2025-05-25T20:25:54.950436+00:00', 'updated_at': '2025-05-25T20:25:54.950436', 'name': 'Lydia', 'account_type': '8df2d0a8-7bd3-49ff-8e99-91d84ace7f0e'}, {'accountId': 'f35a930f-17f2-4b02-84b2-5cccec9974ee', 'created_at': '2025-05-25T20:25:55.010553+00:00', 'updated_at': '2025-05-25T20:25:55.010553', 'name': 'Ticket Restaurant', 'account_type': '8df2d0a8-7bd3-49ff-8e99-91d84ace7f0e'}, {'accountId': '2ee6ffb7-b9aa-46f0-87f2-70ecddb6f206', 'created_at': '2025-05-25T20:25:55.0765+00:00', 'updated_at': '2025-05-25T20:25:55.0765', 'name': 'Techno', 'account_type': 'e6e8788e-d693-4452-8c70-5768c2cded75'}, {'accountId': 'e0b2be5f-e8e7-43cd-bc1b-0672b878676e', 'created_at': '2025-05-25T20:25:55.16075+00:00', 'updated_at': '2025-05-25T20:25:55.16075', 'name': 'fast food', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': 'c464f4df-f1e9-42e7-a354-5cbc607a6dfd', 'created_at': '2025-05-25T20:25:55.26096+00:00', 'updated_at': '2025-05-25T20:25:55.26096', 'name': 'repas quali', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': '2bd993df-ab15-4b23-b1bb-a809cda64522', 'created_at': '2025-05-25T20:25:55.326959+00:00', 'updated_at': '2025-05-25T20:25:55.326959', 'name': 'Courses Normal', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': 'b1e7d7ad-6342-4848-8e69-5da07b989977', 'created_at': '2025-05-25T20:25:55.432958+00:00', 'updated_at': '2025-05-25T20:25:55.432958', 'name': 'Cochonneries', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': 'f3cc0324-f2b6-462f-9513-6b67615b8646', 'created_at': '2025-05-25T20:25:55.5042+00:00', 'updated_at': '2025-05-25T20:25:55.5042', 'name': 'repas midi', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': 'd1600889-0c5a-437d-9682-4726262e828d', 'created_at': '2025-05-25T20:25:55.599283+00:00', 'updated_at': '2025-05-25T20:25:55.599283', 'name': 'Nettoyage', 'account_type': 'fc380fe1-42f7-4516-b34e-2d3c62cc75b6'}, {'accountId': '97a3f49a-89d4-4901-99bb-40908ce7c9ce', 'created_at': '2025-05-25T20:25:55.758108+00:00', 'updated_at': '2025-05-25T20:25:55.758108', 'name': 'Transport', 'account_type': '6c57915c-fa1a-4eb2-95e8-5c90756a7939'}, {'accountId': '1b70001e-2062-41c1-8361-daac1779b5ce', 'created_at': '2025-05-25T20:25:55.88731+00:00', 'updated_at': '2025-05-25T20:25:55.88731', 'name': 'Acti Sportive', 'account_type': '2f8c1e97-f345-4a2e-ab84-957661b34734'}, {'accountId': '7300845d-5aab-4219-b399-080041e6b326', 'created_at': '2025-05-25T20:25:56.0523+00:00', 'updated_at': '2025-05-25T20:25:56.0523', 'name': 'Alcool', 'account_type': '2f8c1e97-f345-4a2e-ab84-957661b34734'}, {'accountId': '446638a8-ab39-4568-9a01-818ce1d780a4', 'created_at': '2025-05-25T20:25:56.141064+00:00', 'updated_at': '2025-05-25T20:25:56.141064', 'name': 'Passer outre', 'account_type': '056ccf16-6036-4e37-8998-e8fceb146029'}, {'accountId': 'd3c8f692-d583-4f45-9110-598bf5c38956', 'created_at': '2025-05-25T20:25:56.277025+00:00', 'updated_at': '2025-05-25T20:25:56.277025', 'name': 'coiffeur', 'account_type': '00340fce-acac-490f-81ee-bc41de73cbbd'}, {'accountId': 'f6b685a8-c338-452b-ab48-849160b6c7f3', 'created_at': '2025-05-25T20:25:56.393011+00:00', 'updated_at': '2025-05-25T20:25:56.393011', 'name': 'Velo', 'account_type': 'e6e8788e-d693-4452-8c70-5768c2cded75'}, {'accountId': 'f63982b8-8532-4760-8f10-2ba278fb09e9', 'created_at': '2025-05-25T20:25:56.490811+00:00', 'updated_at': '2025-05-25T20:25:56.490811', 'name': 'Frais', 'account_type': 'ab845f4a-aea8-4491-9978-ed7003b4a14a'}, {'accountId': '099a7fca-1e0e-4511-9553-21872e870ac1', 'created_at': '2025-05-25T20:25:56.648269+00:00', 'updated_at': '2025-05-25T20:25:56.648269', 'name': 'jeu', 'account_type': '2f8c1e97-f345-4a2e-ab84-957661b34734'}, {'accountId': 'c97dba6c-2594-408e-ad9d-6a62df90ac81', 'created_at': '2025-05-25T20:25:56.751268+00:00', 'updated_at': '2025-05-25T20:25:56.751268', 'name': 'Prêt', 'account_type': 'ab845f4a-aea8-4491-9978-ed7003b4a14a'}, {'accountId': '3efbcc8d-fbc5-4e62-8795-0f00bbbecec9', 'created_at': '2025-05-25T20:25:56.874268+00:00', 'updated_at': '2025-05-25T20:25:56.874268', 'name': 'Musique', 'account_type': 'acfe3208-cab9-493f-bc95-4a884110682e'}, {'accountId': 'e44200f8-da2d-43fc-a08d-50b3ce858566', 'created_at': '2025-05-25T20:25:57.016282+00:00', 'updated_at': '2025-05-25T20:25:57.016282', 'name': 'Culture', 'account_type': '2f8c1e97-f345-4a2e-ab84-957661b34734'}, {'accountId': '4c27933b-23fe-4a79-bca5-801a57f9812e', 'created_at': '2025-05-25T20:25:57.14628+00:00', 'updated_at': '2025-05-25T20:25:57.14628', 'name': 'Unknown', 'account_type': '36c0a091-478b-467a-9b1c-8d247a196d90'}, {'accountId': '36f24363-4533-43e6-91e1-1f0dd5948651', 'created_at': '2025-05-25T20:25:57.281318+00:00', 'updated_at': '2025-05-25T20:25:57.281318', 'name': 'Unknown', 'account_type': 'b8adfba8-1999-4b91-b0bd-09aa7e7872b2'}, {'accountId': '59c02c22-9935-4b30-ba25-dac3bad7d4e7', 'created_at': '2025-05-25T20:25:57.415836+00:00', 'updated_at': '2025-05-25T20:25:57.415836', 'name': 'Café', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': 'aa181ea5-79ef-4c30-a0c4-19f54d70e9b9', 'created_at': '2025-05-25T20:25:57.512833+00:00', 'updated_at': '2025-05-25T20:25:57.512833', 'name': 'Charges', 'account_type': 'fc380fe1-42f7-4516-b34e-2d3c62cc75b6'}, {'accountId': 'f3d72af5-de71-4ce3-a084-dc62846d821e', 'created_at': '2025-05-25T20:25:57.623853+00:00', 'updated_at': '2025-05-25T20:25:57.623853', 'name': 'restaurant', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': 'a808ed21-afaf-45d4-80d1-d1f31bb960ec', 'created_at': '2025-05-25T20:25:57.717023+00:00', 'updated_at': '2025-05-25T20:25:57.717023', 'name': 'Don', 'account_type': '056ccf16-6036-4e37-8998-e8fceb146029'}, {'accountId': '06dd1ffd-1838-458d-a0e2-833986b02f38', 'created_at': '2025-05-25T20:25:57.803454+00:00', 'updated_at': '2025-05-25T20:25:57.803454', 'name': 'autre', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': '96753020-9ca6-477b-83cb-0168dcb94ed2', 'created_at': '2025-05-25T20:25:57.91921+00:00', 'updated_at': '2025-05-25T20:25:57.91921', 'name': 'Loyer', 'account_type': 'fc380fe1-42f7-4516-b34e-2d3c62cc75b6'}, {'accountId': 'f2a18a8b-ce08-46f8-9572-74f1a6f0cd07', 'created_at': '2025-05-25T20:25:57.992459+00:00', 'updated_at': '2025-05-25T20:25:57.992459', 'name': 'Cadeau ami', 'account_type': '056ccf16-6036-4e37-8998-e8fceb146029'}, {'accountId': '89457336-84c2-4e80-812d-95e021917a82', 'created_at': '2025-05-25T20:25:58.067933+00:00', 'updated_at': '2025-05-25T20:25:58.067933', 'name': 'Spectacle/match', 'account_type': '2f8c1e97-f345-4a2e-ab84-957661b34734'}, {'accountId': '1607c11c-e40a-4c69-bef3-02281d1f8b52', 'created_at': '2025-05-25T20:25:58.149971+00:00', 'updated_at': '2025-05-25T20:25:58.149971', 'name': 'Soirée', 'account_type': '2f8c1e97-f345-4a2e-ab84-957661b34734'}, {'accountId': '80c091c5-067a-4642-8479-c6615cb0aae8', 'created_at': '2025-05-25T20:25:58.239912+00:00', 'updated_at': '2025-05-25T20:25:58.239912', 'name': 'Taxe', 'account_type': 'fc380fe1-42f7-4516-b34e-2d3c62cc75b6'}, {'accountId': 'b66a97eb-7ba7-491c-9b0a-d066f76c6713', 'created_at': '2025-05-25T20:25:58.333953+00:00', 'updated_at': '2025-05-25T20:25:58.333953', 'name': 'Non Catégorisé', 'account_type': '6c57915c-fa1a-4eb2-95e8-5c90756a7939'}, {'accountId': '8d458e74-9575-4942-8946-be80136d5193', 'created_at': '2025-05-25T20:25:58.416231+00:00', 'updated_at': '2025-05-25T20:25:58.416231', 'name': 'Unknown', 'account_type': 'fc380fe1-42f7-4516-b34e-2d3c62cc75b6'}, {'accountId': 'a3248137-9013-44cc-a24b-f70d6d5d60ac', 'created_at': '2025-05-25T20:25:58.539773+00:00', 'updated_at': '2025-05-25T20:25:58.539773', 'name': 'Casual', 'account_type': 'f64ee306-c232-4e98-88e0-552431b8d232'}, {'accountId': '85885199-641b-4883-b1b7-45bd331ce986', 'created_at': '2025-05-25T20:25:58.713432+00:00', 'updated_at': '2025-05-25T20:25:58.713432', 'name': 'Meuble', 'account_type': 'fc380fe1-42f7-4516-b34e-2d3c62cc75b6'}, {'accountId': 'b69e3cdf-c93c-4591-81a5-da58d7047c1d', 'created_at': '2025-05-25T20:25:58.816655+00:00', 'updated_at': '2025-05-25T20:25:58.816655', 'name': 'Logement', 'account_type': '6c57915c-fa1a-4eb2-95e8-5c90756a7939'}, {'accountId': '46c148d8-6f9c-404d-843d-b4a624f7fc1f', 'created_at': '2025-05-25T20:25:58.902871+00:00', 'updated_at': '2025-05-25T20:25:58.902871', 'name': 'Nourriture', 'account_type': '6c57915c-fa1a-4eb2-95e8-5c90756a7939'}, {'accountId': '39fdc486-433b-4023-bc5e-516ff6dfca75', 'created_at': '2025-05-25T20:25:58.981125+00:00', 'updated_at': '2025-05-25T20:25:58.981125', 'name': 'Autre', 'account_type': 'e6e8788e-d693-4452-8c70-5768c2cded75'}, {'accountId': 'c61cdb1d-af55-4a29-882c-97da584be865', 'created_at': '2025-05-25T20:25:59.055464+00:00', 'updated_at': '2025-05-25T20:25:59.055464', 'name': 'Sport', 'account_type': 'acfe3208-cab9-493f-bc95-4a884110682e'}, {'accountId': '22e983e1-5fe9-433b-80ae-13b13cf3e374', 'created_at': '2025-05-25T20:25:59.138653+00:00', 'updated_at': '2025-05-25T20:25:59.138653', 'name': 'Acti', 'account_type': '6c57915c-fa1a-4eb2-95e8-5c90756a7939'}, {'accountId': '32f88056-c9c8-43f8-a2ba-8110ef0a44d1', 'created_at': '2025-05-25T20:25:59.223653+00:00', 'updated_at': '2025-05-25T20:25:59.223653', 'name': 'Sport', 'account_type': 'e6e8788e-d693-4452-8c70-5768c2cded75'}, {'accountId': '145b3add-2f9e-467e-a60f-d56b6c592db4', 'created_at': '2025-05-25T20:25:59.314653+00:00', 'updated_at': '2025-05-25T20:25:59.314653', 'name': 'Unknown', 'account_type': 'b2937513-ea3c-4136-8400-91e0de67e416'}, {'accountId': '08611e72-7507-4a53-a254-7bfef1ba9b7f', 'created_at': '2025-05-25T20:25:59.435653+00:00', 'updated_at': '2025-05-25T20:25:59.435653', 'name': 'Bar non alcool', 'account_type': '2f8c1e97-f345-4a2e-ab84-957661b34734'}, {'accountId': '19d43f9d-32ad-4b12-890d-76d28dc0b977', 'created_at': '2025-05-25T20:25:59.527655+00:00', 'updated_at': '2025-05-25T20:25:59.527655', 'name': 'Culture', 'account_type': 'e6e8788e-d693-4452-8c70-5768c2cded75'}, {'accountId': 'ef4a26c5-223b-4b89-ba70-47440626c9c9', 'created_at': '2025-05-25T20:25:59.588654+00:00', 'updated_at': '2025-05-25T20:25:59.588654', 'name': 'Courses', 'account_type': 'b2937513-ea3c-4136-8400-91e0de67e416'}, {'accountId': '4aa2c084-6a4a-46ac-8564-30a68b52753c', 'created_at': '2025-05-25T20:25:59.690148+00:00', 'updated_at': '2025-05-25T20:25:59.690148', 'name': 'Médicament', 'account_type': '2f87985c-a28f-4959-b027-2ed8777da2b0'}, {'accountId': 'cae5f955-801f-4470-ae13-f9e3e37394f4', 'created_at': '2025-05-25T20:25:59.813979+00:00', 'updated_at': '2025-05-25T20:25:59.813979', 'name': 'Unknown', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': 'dc1efd96-e251-4a35-abec-bc96c00005d6', 'created_at': '2025-05-25T20:25:59.887579+00:00', 'updated_at': '2025-05-25T20:25:59.887579', 'name': 'Lecture', 'account_type': 'acfe3208-cab9-493f-bc95-4a884110682e'}, {'accountId': '706310bb-fba4-4d6c-b135-b7b54d998223', 'created_at': '2025-05-25T20:25:59.989419+00:00', 'updated_at': '2025-05-25T20:25:59.989419', 'name': 'Salle de bain', 'account_type': '00340fce-acac-490f-81ee-bc41de73cbbd'}, {'accountId': 'a173165a-0ee2-455a-8c97-6bf9ca33e064', 'created_at': '2025-05-25T20:26:00.075906+00:00', 'updated_at': '2025-05-25T20:26:00.075906', 'name': 'Alcool', 'account_type': '6c57915c-fa1a-4eb2-95e8-5c90756a7939'}, {'accountId': '420542eb-974f-44ce-96ec-94d3cdc4d966', 'created_at': '2025-05-25T20:26:00.145436+00:00', 'updated_at': '2025-05-25T20:26:00.145436', 'name': 'Voyage', 'account_type': 'e6e8788e-d693-4452-8c70-5768c2cded75'}, {'accountId': 'b93e6f70-76a7-474c-bc8b-dc994f2e1bda', 'created_at': '2025-05-25T20:26:00.257977+00:00', 'updated_at': '2025-05-25T20:26:00.257977', 'name': 'Souvenirs', 'account_type': '6c57915c-fa1a-4eb2-95e8-5c90756a7939'}, {'accountId': 'e16cc3a7-d013-4bd4-a8c7-a987fa40ef2a', 'created_at': '2025-05-25T20:26:00.363339+00:00', 'updated_at': '2025-05-25T20:26:00.363339', 'name': 'alcool', 'account_type': '2f8c1e97-f345-4a2e-ab84-957661b34734'}, {'accountId': '19884847-268f-4fff-b616-62c39838f241', 'created_at': '2025-05-25T20:26:00.470342+00:00', 'updated_at': '2025-05-25T20:26:00.470342', 'name': 'Streaming', 'account_type': 'acfe3208-cab9-493f-bc95-4a884110682e'}, {'accountId': 'a8dcc83c-251f-42cf-89a0-b0d147e86b7d', 'created_at': '2025-05-25T20:26:00.56334+00:00', 'updated_at': '2025-05-25T20:26:00.56334', 'name': ' ', 'account_type': '36c0a091-478b-467a-9b1c-8d247a196d90'}, {'accountId': 'b883393d-e672-4892-a07d-1fe65dc58834', 'created_at': '2025-05-25T20:26:00.687341+00:00', 'updated_at': '2025-05-25T20:26:00.687341', 'name': 'Elegant', 'account_type': 'f64ee306-c232-4e98-88e0-552431b8d232'}, {'accountId': '6200f891-4fa2-446d-b4e8-136fe621e713', 'created_at': '2025-05-25T20:26:00.771339+00:00', 'updated_at': '2025-05-25T20:26:00.771339', 'name': 'Unknown', 'account_type': '056ccf16-6036-4e37-8998-e8fceb146029'}, {'accountId': '1c9cb87a-75c7-4a64-ae0d-988bd44821b4', 'created_at': '2025-05-25T20:26:00.88934+00:00', 'updated_at': '2025-05-25T20:26:00.88934', 'name': 'cochonneries', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': '7e8c054c-8f5a-4f20-9a10-473613e34864', 'created_at': '2025-05-25T20:26:00.975339+00:00', 'updated_at': '2025-05-25T20:26:00.975339', 'name': 'Sport', 'account_type': 'f64ee306-c232-4e98-88e0-552431b8d232'}, {'accountId': 'ce975c36-818c-45a6-962c-f7bb44304638', 'created_at': '2025-05-25T20:26:01.074341+00:00', 'updated_at': '2025-05-25T20:26:01.074341', 'name': 'Non Catégorisé', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': 'e1b6ae1e-0e9f-4cef-80f5-eb454bf600fc', 'created_at': '2025-05-25T20:26:01.136342+00:00', 'updated_at': '2025-05-25T20:26:01.136342', 'name': 'Bar non alcool', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': 'c8d65f84-9071-4bdb-9b49-0381f7f7fab0', 'created_at': '2025-05-25T20:26:01.20834+00:00', 'updated_at': '2025-05-25T20:26:01.20834', 'name': 'Unknown', 'account_type': 'e6e8788e-d693-4452-8c70-5768c2cded75'}, {'accountId': '7f1cde2c-4f93-4ee2-88e2-773d23d390bb', 'created_at': '2025-05-25T20:26:01.277348+00:00', 'updated_at': '2025-05-25T20:26:01.277348', 'name': 'Unknown', 'account_type': '2f8c1e97-f345-4a2e-ab84-957661b34734'}, {'accountId': '28daee43-a6e7-44a3-a82f-224a97460b76', 'created_at': '2025-05-25T20:26:01.35134+00:00', 'updated_at': '2025-05-25T20:26:01.35134', 'name': 'Unknown', 'account_type': '2f87985c-a28f-4959-b027-2ed8777da2b0'}, {'accountId': 'fe96848c-9e99-4bf6-8d0e-0efff5206094', 'created_at': '2025-05-25T20:26:01.456339+00:00', 'updated_at': '2025-05-25T20:26:01.456339', 'name': 'sport', 'account_type': 'acfe3208-cab9-493f-bc95-4a884110682e'}, {'accountId': '4a68abd9-f73a-4984-9d02-7e4090cfaf4b', 'created_at': '2025-05-25T20:26:01.580001+00:00', 'updated_at': '2025-05-25T20:26:01.580001', 'name': 'fast', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': '3c4995cd-2fad-468e-8d42-8d82e71638ab', 'created_at': '2025-05-25T20:26:01.68057+00:00', 'updated_at': '2025-05-25T20:26:01.68057', 'name': 'productivité', 'account_type': 'acfe3208-cab9-493f-bc95-4a884110682e'}, {'accountId': 'c78ce743-0173-4224-b66d-a1bff7076609', 'created_at': '2025-05-25T20:26:01.776569+00:00', 'updated_at': '2025-05-25T20:26:01.776569', 'name': 'Unknown', 'account_type': '6c57915c-fa1a-4eb2-95e8-5c90756a7939'}, {'accountId': 'f5f034bc-f707-4435-a870-d69d97dcf8aa', 'created_at': '2025-05-25T20:26:01.869569+00:00', 'updated_at': '2025-05-25T20:26:01.869569', 'name': 'Unknown', 'account_type': '4018e442-9df4-4a10-a949-70ec6be1d2e7'}, {'accountId': 'ead9619a-c416-4581-90d9-7b53687a8711', 'created_at': '2025-05-25T20:26:02.011568+00:00', 'updated_at': '2025-05-25T20:26:02.011568', 'name': 'Transport', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': 'e54d23c7-81d4-49c2-89aa-d7f351a53f43', 'created_at': '2025-05-25T20:26:02.092568+00:00', 'updated_at': '2025-05-25T20:26:02.092568', 'name': 'restaurant', 'account_type': '6c57915c-fa1a-4eb2-95e8-5c90756a7939'}, {'accountId': '4174f202-d32a-4c5c-b6ff-98e0827b241d', 'created_at': '2025-05-25T20:26:02.158568+00:00', 'updated_at': '2025-05-25T20:26:02.158568', 'name': 'Nourriture', 'account_type': '4cb30052-aef6-4665-b18f-27f7e656bbd1'}, {'accountId': '415e33fb-99d0-44d5-9f3f-eb2d5b2355a3', 'created_at': '2025-05-25T20:26:02.224567+00:00', 'updated_at': '2025-05-25T20:26:02.224567', 'name': 'cochonneries', 'account_type': '6c57915c-fa1a-4eb2-95e8-5c90756a7939'}, {'accountId': '3a54d1c1-be7f-431a-8998-2cf5a67d681c', 'created_at': '2025-05-25T20:26:02.288569+00:00', 'updated_at': '2025-05-25T20:26:02.288569', 'name': 'Courses Normal', 'account_type': '056ccf16-6036-4e37-8998-e8fceb146029'}, {'accountId': '04e81188-41af-45b5-97c5-cdde3e002939', 'created_at': '2025-05-25T20:26:02.345156+00:00', 'updated_at': '2025-05-25T20:26:02.345156', 'name': 'Autre', 'account_type': 'fc380fe1-42f7-4516-b34e-2d3c62cc75b6'}] count=None

Found accounts: 81
- Compte Courant (ID: 100f48ac-05d2-4c70-9c34-abb2aefacb4b)
- Izly (ID: 6ea73058-dcca-439a-8fa4-0f580a3d2079)
- Tricount (ID: f499123f-f583-4ff1-bacf-3e031f57084e)
- Espèces (ID: 66c4ec8a-0bb0-40dc-ac99-9f08d794e23a)
- Remboursement (ID: b0e42d6b-8c72-40d2-8ef1-be878d7a1e49)
- Lydia (ID: df96dd7e-b04b-468c-a234-11576f35644c)
- Ticket Restaurant (ID: f35a930f-17f2-4b02-84b2-5cccec9974ee)
- Techno (ID: 2ee6ffb7-b9aa-46f0-87f2-70ecddb6f206)
- fast food (ID: e0b2be5f-e8e7-43cd-bc1b-0672b878676e)
- repas quali (ID: c464f4df-f1e9-42e7-a354-5cbc607a6dfd)
- Courses Normal (ID: 2bd993df-ab15-4b23-b1bb-a809cda64522)
- Cochonneries (ID: b1e7d7ad-6342-4848-8e69-5da07b989977)
- repas midi (ID: f3cc0324-f2b6-462f-9513-6b67615b8646)
- Nettoyage (ID: d1600889-0c5a-437d-9682-4726262e828d)
- Transport (ID: 97a3f49a-89d4-4901-99bb-40908ce7c9ce)
- Acti Sportive (ID: 1b70001e-2062-41c1-8361-daac1779b5ce)
- Alcool (ID: 7300845d-5aab-4219-b399-080041e6b326)
- Passer outre (ID: 446638a8-ab39-4568-9a01-818ce1d780a4)
- coiffeur (ID: d3c8f692-d583-4f45-9110-598bf5c38956)
- Velo (ID: f6b685a8-c338-452b-ab48-849160b6c7f3)
- Frais (ID: f63982b8-8532-4760-8f10-2ba278fb09e9)
- jeu (ID: 099a7fca-1e0e-4511-9553-21872e870ac1)
- Prêt (ID: c97dba6c-2594-408e-ad9d-6a62df90ac81)
- Musique (ID: 3efbcc8d-fbc5-4e62-8795-0f00bbbecec9)
- Culture (ID: e44200f8-da2d-43fc-a08d-50b3ce858566)
- Unknown (ID: 4c27933b-23fe-4a79-bca5-801a57f9812e)
- Unknown (ID: 36f24363-4533-43e6-91e1-1f0dd5948651)
- Café (ID: 59c02c22-9935-4b30-ba25-dac3bad7d4e7)
- Charges (ID: aa181ea5-79ef-4c30-a0c4-19f54d70e9b9)
- restaurant (ID: f3d72af5-de71-4ce3-a084-dc62846d821e)
- Don (ID: a808ed21-afaf-45d4-80d1-d1f31bb960ec)
- autre (ID: 06dd1ffd-1838-458d-a0e2-833986b02f38)
- Loyer (ID: 96753020-9ca6-477b-83cb-0168dcb94ed2)
- Cadeau ami (ID: f2a18a8b-ce08-46f8-9572-74f1a6f0cd07)
- Spectacle/match (ID: 89457336-84c2-4e80-812d-95e021917a82)
- Soirée (ID: 1607c11c-e40a-4c69-bef3-02281d1f8b52)
- Taxe (ID: 80c091c5-067a-4642-8479-c6615cb0aae8)
- Non Catégorisé (ID: b66a97eb-7ba7-491c-9b0a-d066f76c6713)
- Unknown (ID: 8d458e74-9575-4942-8946-be80136d5193)
- Casual (ID: a3248137-9013-44cc-a24b-f70d6d5d60ac)
- Meuble (ID: 85885199-641b-4883-b1b7-45bd331ce986)
- Logement (ID: b69e3cdf-c93c-4591-81a5-da58d7047c1d)
- Nourriture (ID: 46c148d8-6f9c-404d-843d-b4a624f7fc1f)
- Autre (ID: 39fdc486-433b-4023-bc5e-516ff6dfca75)
- Sport (ID: c61cdb1d-af55-4a29-882c-97da584be865)
- Acti (ID: 22e983e1-5fe9-433b-80ae-13b13cf3e374)
- Sport (ID: 32f88056-c9c8-43f8-a2ba-8110ef0a44d1)
- Unknown (ID: 145b3add-2f9e-467e-a60f-d56b6c592db4)
- Bar non alcool (ID: 08611e72-7507-4a53-a254-7bfef1ba9b7f)
- Culture (ID: 19d43f9d-32ad-4b12-890d-76d28dc0b977)
- Courses (ID: ef4a26c5-223b-4b89-ba70-47440626c9c9)
- Médicament (ID: 4aa2c084-6a4a-46ac-8564-30a68b52753c)
- Unknown (ID: cae5f955-801f-4470-ae13-f9e3e37394f4)
- Lecture (ID: dc1efd96-e251-4a35-abec-bc96c00005d6)
- Salle de bain (ID: 706310bb-fba4-4d6c-b135-b7b54d998223)
- Alcool (ID: a173165a-0ee2-455a-8c97-6bf9ca33e064)
- Voyage (ID: 420542eb-974f-44ce-96ec-94d3cdc4d966)
- Souvenirs (ID: b93e6f70-76a7-474c-bc8b-dc994f2e1bda)
- alcool (ID: e16cc3a7-d013-4bd4-a8c7-a987fa40ef2a)
- Streaming (ID: 19884847-268f-4fff-b616-62c39838f241)
-   (ID: a8dcc83c-251f-42cf-89a0-b0d147e86b7d)
- Elegant (ID: b883393d-e672-4892-a07d-1fe65dc58834)
- Unknown (ID: 6200f891-4fa2-446d-b4e8-136fe621e713)
- cochonneries (ID: 1c9cb87a-75c7-4a64-ae0d-988bd44821b4)
- Sport (ID: 7e8c054c-8f5a-4f20-9a10-473613e34864)
- Non Catégorisé (ID: ce975c36-818c-45a6-962c-f7bb44304638)
- Bar non alcool (ID: e1b6ae1e-0e9f-4cef-80f5-eb454bf600fc)
- Unknown (ID: c8d65f84-9071-4bdb-9b49-0381f7f7fab0)
- Unknown (ID: 7f1cde2c-4f93-4ee2-88e2-773d23d390bb)
- Unknown (ID: 28daee43-a6e7-44a3-a82f-224a97460b76)
- sport (ID: fe96848c-9e99-4bf6-8d0e-0efff5206094)
- fast (ID: 4a68abd9-f73a-4984-9d02-7e4090cfaf4b)
- productivité (ID: 3c4995cd-2fad-468e-8d42-8d82e71638ab)
- Unknown (ID: c78ce743-0173-4224-b66d-a1bff7076609)
- Unknown (ID: f5f034bc-f707-4435-a870-d69d97dcf8aa)
- Transport (ID: ead9619a-c416-4581-90d9-7b53687a8711)
- restaurant (ID: e54d23c7-81d4-49c2-89aa-d7f351a53f43)
- Nourriture (ID: 4174f202-d32a-4c5c-b6ff-98e0827b241d)
- cochonneries (ID: 415e33fb-99d0-44d5-9f3f-eb2d5b2355a3)
- Courses Normal (ID: 3a54d1c1-be7f-431a-8998-2cf5a67d681c)
- Autre (ID: 04e81188-41af-45b5-97c5-cdde3e002939)

In [10]:
db = get_db
accounts = (
    db.table("Accounts")
    .select("*, Account-types!left(*)")
    .execute()
)
accounts = pd.DataFrame(accounts.data)
accounts = pd.concat([accounts.drop(['Account-types'], axis=1), pd.json_normalize(accounts['Account-types'])], axis=1)

In [16]:
# Add new columns for account IDs
from tqdm import tqdm
df_paiement['account_credit'] = None
df_paiement['account_debit'] = None

# Fill the new columns with account type IDs
for index, row in tqdm(df_paiement.iterrows(), total=len(df_paiement)):
    try:
        # Find matching account for credit
        debit_account = accounts[accounts['name'] == (row["Compte"] if pd.notna(row["Compte"]) else "Unknown")]
        if not debit_account.empty:
            df_paiement.at[index, 'account_debit'] = debit_account.iloc[0]['accountId']
        else:
            print(f"Warning: No matching credit account found for {row['Compte']}")
            
        # Find matching account for debit
        credit_account = accounts[
            (accounts['name'] == (row["Sous Catégorie"] or "Unknown")) &
            (accounts['category'] == (row["Catégorie"] or "Unknown"))
        ]
        if not credit_account.empty:
            df_paiement.at[index, 'account_credit'] = credit_account.iloc[0]['accountId']
        else:
            print(f"Warning: No matching debit account found for {index}")
    except Exception as e:
        print(f"Error getting account IDs for row {index}: {str(e)}")

100%|██████████| 1310/1310 [00:03<00:00, 387.06it/s]

In [17]:
print(df_paiement[df_paiement["account_credit"].isna()])
print(df_paiement[df_paiement["account_debit"].isna()])

Empty DataFrame
Columns: [Identifiant, Date, Mois, Montant, Créances, Description, Catégorie, Sous Catégorie, Compte, Amortissement, Mois de départ, account_credit, account_debit]
Index: []
Empty DataFrame
Columns: [Identifiant, Date, Mois, Montant, Créances, Description, Catégorie, Sous Catégorie, Compte, Amortissement, Mois de départ, account_credit, account_debit]
Index: []

In [13]:
df_paiement['Montant']=df_paiement['Montant']*-1

In [20]:
import importlib
import db.models
importlib.reload(db.models)

from db.models import Transaction, TransactionSlave

In [22]:
from uuid import UUID, uuid4
from datetime import datetime
master_transactions = []
slaves_transactions = []
for index, row in df_paiement.iterrows():
    # Get account type ID for this transaction
    account_credit = row["account_credit"]
    account_debit = row["account_debit"]
    date=pd.Timestamp(datetime.now().timestamp())
    creditId=uuid4()
    debitId=uuid4()
    if row['Montant']<0:
        master_transactions.append(Transaction(
            transactionId=creditId,
            created_at=date,
            updated_at=date,
            description=row["Description"],
            date=pd.Timestamp(row["Date"]),
            type="debit",
            amount=row["Montant"],
            accountId=account_debit
    ))
    slaves_transactions.append(TransactionSlave(
        slaveId=debitId,
        created_at=date,
        updated_at=date,
        type="debit",
        amount=row["Montant"],
        date=pd.Timestamp(row["Date"]),
        accountId=account_debit,
        masterId=creditId,
            ))

In [23]:
def upload_transactions(db, master_transactions, slave_transactions):
    """
    Upload master and slave transactions to their respective tables in the database
    
    Args:
        db: Database session
        master_transactions: List of Transaction objects
        slave_transactions: List of TransactionSlave objects
    """
    try:
        # Upload master transactions
        for transaction in master_transactions:
            transaction_data = {
                "transactionId": str(transaction.transactionId),
                "created_at": transaction.created_at.isoformat(),
                "updated_at": transaction.updated_at.isoformat(), 
                "description": str(transaction.description),
                "date": transaction.date.isoformat(),
                "type": str(transaction.type),
                "amount": float(transaction.amount),
                "accountId": str(transaction.accountId)
            }
            db.table("Transactions").insert(transaction_data).execute()
            
        # Upload slave transactions
        for slave in slave_transactions:
            slave_data = {
                "slaveId": str(slave.slaveId),
                "created_at": slave.created_at.isoformat(),
                "updated_at": slave.updated_at.isoformat(),
                "type": str(slave.type),
                "amount": float(slave.amount),
                "date": slave.date.isoformat(),
                "accountId": str(slave.accountId),
                "masterId": str(slave.masterId)
            }
            db.table("TransactionsSlaves").insert(slave_data).execute()
            
    except Exception as e:
        print(f"Error uploading transactions: {slave},{e}")
        

# Call the function with the database session and lists
upload_transactions(get_db, master_transactions, slaves_transactions)

### LCL

#### Compte Courant

In [6]:
from ploutos.utils.scraping.scrap_lcl import convert_LCLpdf_to_df

old_lcl=convert_LCLpdf_to_df("ploutos/data/lcl/compte_courant")

100%|██████████| 4/4 [00:00<?, ?it/s]
  0%|          | 0/4 [00:00<?, ?it/s]Failed to import jpype dependencies. Fallback to subprocess.
No module named 'jpype'
100%|██████████| 4/4 [00:11<00:00,  3.00s/it]
4it [00:00, 3813.87it/s]

In [38]:
def calculate_last_transaction(db_payement, db_transfert, db_benefices,account):
    last_transaction=[]
    last_transaction.append(db_payement[db_payement["Compte"]==account]["Date"].max())
    last_transaction.append(db_transfert[db_transfert["Compte arrivée"]==account]["Date"].max())
    last_transaction.append(db_transfert[db_transfert["Compte départ"]==account]["Date"].max())
    last_transaction.append(db_benefices[db_benefices["Compte"]==account]["Date"].max())
    last_transaction=[ts for ts in last_transaction if pd.notna(ts)]
    if len(last_transaction)>0:
        last_transaction=max(last_transaction)
    else:
        last_transaction=None
    return last_transaction

In [39]:
last_transaction=calculate_last_transaction(df_paiement, df_transfert, df_benefices,"Compte Courant").strftime("%Y-%m-%d")
transactions=account_api.get_transactions(date_from='2024-06-06')
print(last_transaction)

2024-06-16

,transactionId,entryReference,Date,Date valeur,Montant_dict,Description,internalTransactionId,Montant,Type
0,c7c6fb8c-b433-4b6e-ae51-d26c1a3f0bae,c7c6fb8c-b433-4b6e-ae51-d26c1a3f0bae,2024-12-19,2024-12-19,"{'amount': '-3191.52', 'currency': 'EUR'}",PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPA...,54b07613266144b815fd4a2aa60c7927,-3191.52,Booked
1,9604ae60-eeae-4eb8-8053-20f71b758299,9604ae60-eeae-4eb8-8053-20f71b758299,2024-12-19,2024-12-19,"{'amount': '1000', 'currency': 'EUR'}",VIREMENT\n\nVIREMENT M JEREMY BON\n\n\n\nSCR43...,e2b373383d2baeeaff7283b08b15121a,1000.00,Booked

In [40]:
debit_old=old_lcl[(old_lcl["Date"] <= "2024-09-30")&(old_lcl["Date"] > last_transaction)]['DEBIT'].sum()
credit_old=old_lcl[(old_lcl["Date"] <= "2024-09-30")&(old_lcl["Date"] > last_transaction)]['CREDIT'].sum()
sheet_value=float(sheet_migration.account_list[sheet_migration.account_list["Compte"]=="Compte Courant"]["Actuel"].values[0].replace("€","").replace(",","."))
end_september_balance=float(sheet_value)+credit_old-debit_old
print(f"End of September balance: {end_september_balance}")
current_balance=end_september_balance+transactions[transactions["Date"]>'2024-09-30']['Montant'].sum()
print(f"Current balance: {current_balance}")
official_balance=account_api.get_balance()
print(f"Official balance: {official_balance}")

End of September balance: 2032.9199999999983
Current balance: 407.3699999999976
[{'balanceAmount': {'amount': '530.82', 'currency': 'EUR'}, 'balanceType': 'expected', 'referenceDate': '2024-12-23'}, {'balanceAmount': {'amount': '407.37', 'currency': 'EUR'}, 'balanceType': 'closingBooked', 'referenceDate': '2024-12-20'}]
Official balance: 407.37

#### Compte Epargne

Le livret jeune n'a pas subi de changement et va fermer. On regarde uniquement le livret A.
On détecte les transactions de M JEREMY BON dans le compte courant avec `(transactions["Description"].str.contains("M JEREMY BON"))`

In [31]:
df_transfert[df_transfert["Compte départ"]=="Livret A"]

,Identifiant,Date,Montant,Type,Description,Compte départ,Compte arrivée
95,23TRDÉCE07,2023-12-28,5000.0,Investissement,natixis carrefour,Livret A,Carrefour Natixis
109,24TRJUIN02,2024-06-16,1691.9,Transfert interne,transfert caf + loyer,Livret A,Compte Courant
110,24TRJUIN03,2024-06-16,5700.0,Transfert interne,avril+mai+juin16,Livret A,Compte Courant

In [42]:
convert_LCLpdf_to_df("ploutos/data/lcl/compte_livret")
last_transaction=calculate_last_transaction(df_paiement, df_transfert, df_benefices,"Livret A")
print(last_transaction)

100%|██████████| 1/1 [00:00<?, ?it/s]
100%|██████████| 1/1 [00:05<00:00,  5.93s/it]
1it [00:00, 124.95it/s]

2024-06-16 00:00:00

In [65]:
debit_old=old_lcl[(old_lcl["Description"].str.contains("M JEREMY BON"))&(old_lcl["Date"] <= "2024-09-30")&(old_lcl["Date"] > last_transaction)]['DEBIT'].sum()
credit_old=old_lcl[(old_lcl["Description"].str.contains("M JEREMY BON"))&(old_lcl["Date"] <= "2024-09-30")&(old_lcl["Date"] > last_transaction)]['CREDIT'].sum()
sheet_value=float(sheet_migration.account_list[sheet_migration.account_list["Compte"]=="Livret A"]["Actuel"].values[0].replace("€","").replace(",",".").replace("\u202f",""))
end_september_balance=float(sheet_value)-credit_old+debit_old
print(f"End of September balance: {end_september_balance}")
current_balance=end_september_balance-transactions[(transactions["Description"].str.contains("M JEREMY BON"))&(transactions["Date"]>'2024-09-30')]['Montant'].sum()
print(f"Current balance: {current_balance}")
official_balance=8000
print(f"Official balance: {official_balance}")

End of September balance: 10591.52
Current balance: 8000.0
Official balance: 8000

### Lydia

In [70]:
last_transaction=calculate_last_transaction(df_paiement, df_transfert, df_benefices,"Lydia")
print(last_transaction)
sheet_value=float(sheet_migration.account_list[sheet_migration.account_list["Compte"]=="Lydia"]["Actuel"].values[0].replace("€","").replace(",",".").replace("\u202f",""))
print(f"Lydia balance on {last_transaction.strftime('%Y-%m-%d')}: {sheet_value}")

2024-06-22 00:00:00
Lydia balance on 2024-06-22: 8.41

In [79]:
lydia_account_value=50.84
new_transaction_lydia=pd.DataFrame([{
    "Date":"2024-09-01",
    "Libellé":"Madrid Gael Terier",
    "Montant":38.89,
    "Compte":"Lydia",
},
{
    "Date":"2024-08-31",
    "Libellé":"Guilhem Leborgne",
    "Montant": -4,
    "Compte":"Lydia",
    
},
{
    "Date":"2024-08-27",
    "Libellé":"Dépôt crte revolut 7255",
    "Montant": 25,
    "Compte":"Lydia",
},{
    "Date":"2024-08-27",
    "Libellé":"Guilhem Leborgne",
    "Montant": -25,
    "Compte":"Lydia",
},
{
    "Date":"2024-07-25",
    "Libellé":"Kdo Juan Lucie Formery",
    "Montant": -8.33,
    "Compte":"Lydia",
},
{
    "Date":"2024-07-25",
    "Libellé":"Juanita PA",
    "Montant": -3.33,
    "Compte":"Lydia",
},
{
    "Date":"2024-07-16",
    "Libellé":"Tren Gijon Lucie Formery",
    "Montant": 27.1,
    "Compte":"Lydia",
},
{
    "Date":"2024-07-01",
    "Libellé":"Thai Bastien Englebert",
    "Montant": -7.9,
    "Compte":"Lydia",
}
])
assert new_transaction_lydia['Montant'].sum()+sheet_value==lydia_account_value

### Revolut

In [1]:
cd c:\Users\bonje\Documents\Perso\ploutos

c:\Users\bonje\Documents\Perso\ploutos

c:\Users\bonje\AppData\Local\pypoetry\Cache\virtualenvs\ploutos-wcQ0yzvx-py3.11\Lib\site-packages\IPython\core\magics\osm.py:417: UserWarning: using dhist requires you to install the `pickleshare` library.
  self.shell.db['dhist'] = compress_dhist(dhist)[-100:]

In [2]:

from ploutos.api.bank_api import BankApi, Bank

In [5]:
lcl_api.get_transactions()

,transactionId,entryReference,Date,Date valeur,Montant_dict,Description,internalTransactionId,Montant,Type
0,19bbbc83-27c4-48ec-81b8-f107331284aa,19bbbc83-27c4-48ec-81b8-f107331284aa,2024-12-24,2024-12-24,"{'amount': '-186.88', 'currency': 'EUR'}",PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CAR...,eabb272d4c79ec85213d4937265e01a3,-186.88,Booked
1,21b35710-9549-4d1a-8c9f-98aefa8cd908,21b35710-9549-4d1a-8c9f-98aefa8cd908,2024-12-23,2024-12-23,"{'amount': '-234.44', 'currency': 'EUR'}",PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CAR...,8dc28dfacbcf10bb7cc08644449e514b,-234.44,Booked
2,cdc8c21c-c916-4f75-8cef-4ce39eb824b4,cdc8c21c-c916-4f75-8cef-4ce39eb824b4,2024-12-21,2024-12-21,"{'amount': '858.89', 'currency': 'EUR'}",VIREMENT INSTANTANE\n\nVIR INST PAPEREUX VERON...,5ae676f9941220df5f4505874fc4c181,858.89,Booked
3,67223268-c5bd-41db-8c91-9f59cf298ccb,67223268-c5bd-41db-8c91-9f59cf298ccb,2024-12-20,2024-12-20,"{'amount': '-1', 'currency': 'EUR'}",CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR I...,e94f653b2fb471136b73170853a8d7d8,-1.00,Booked
4,338a8d1b-6e12-4e13-9471-f0c1d5fac049,338a8d1b-6e12-4e13-9471-f0c1d5fac049,2024-12-20,2024-12-20,"{'amount': '-500', 'currency': 'EUR'}",VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon rev...,6eaf07cecc5c426e00aded5c611e4b5e,-500.00,Booked
...,...,...,...,...,...,...,...,...,...
56,33856a27-385e-46af-9dc8-12ccda507cb8,33856a27-385e-46af-9dc8-12ccda507cb8,2024-10-07,2024-10-07,"{'amount': '-250', 'currency': 'EUR'}",PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPA...,ea53ba70844b537f0e9ada5a90c60a9b,-250.00,Booked
57,db5f44d2-8921-4bd6-8261-22bdf23e1895,db5f44d2-8921-4bd6-8261-22bdf23e1895,2024-10-02,2024-10-02,"{'amount': '100', 'currency': 'EUR'}",VIREMENT INSTANTANE\n\nVIR INST MME PAPEREUX N...,1a4a43966a1eb1e29758b7db7dcc0dc9,100.00,Booked
58,d52ed06d-5e4f-4394-83ce-06b63c5bbbd6,d52ed06d-5e4f-4394-83ce-06b63c5bbbd6,2024-09-30,2024-09-30,"{'amount': '710', 'currency': 'EUR'}",VIREMENT INSTANTANE\n\nVIR INST Adrien BRUN\nL...,dff023ef479eeb8a17a95f54f175ce4a,710.00,Booked
59,ad6bbc08-1e2c-481b-9f2b-853f1d1608bf,ad6bbc08-1e2c-481b-9f2b-853f1d1608bf,2024-09-30,2024-09-30,"{'amount': '-668.55', 'currency': 'EUR'}",VIREMENT\n\nVIR SEPA vulpian nouveau\nbon vulp...,13dd5291cfb0c25f7974b30d3026bde3,-668.55,Booked
60,84348d02-bad0-431a-b096-ea823f4c370f,84348d02-bad0-431a-b096-ea823f4c370f,2024-09-30,2024-09-30,"{'amount': '2657.69', 'currency': 'EUR'}",VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANC...,08fc423de2b7d9bac0a4410247c5d48a,2657.69,Booked

In [3]:
lcl_api=BankApi(Bank.LCL)
lcl_api.api.get_transactions()

Bank.LCL <enum 'Bank'> True
Successfully connected to Bank.LCL

{'transactions': {'booked': [{'transactionId': '19bbbc83-27c4-48ec-81b8-f107331284aa',
    'entryReference': '19bbbc83-27c4-48ec-81b8-f107331284aa',
    'bookingDate': '2024-12-24',
    'valueDate': '2024-12-24',
    'transactionAmount': {'amount': '-186.88', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CARREFOUR BANQUE\nICS.FR83ZZZ135674\n.RUM.CS00-5135889367110\n0\nSDR435844993947'],
    'internalTransactionId': 'eabb272d4c79ec85213d4937265e01a3'},
   {'transactionId': '21b35710-9549-4d1a-8c9f-98aefa8cd908',
    'entryReference': '21b35710-9549-4d1a-8c9f-98aefa8cd908',
    'bookingDate': '2024-12-23',
    'valueDate': '2024-12-23',
    'transactionAmount': {'amount': '-234.44', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CARREFOUR BANQUE\nICS.FR83ZZZ135674\n.RUM.CS00-5135889367110\n0\nSDR435543806434'],
    'internalTransactionId': '8dc28dfacbcf10bb7cc08644449e514b'},
   {'transactionId': 'cdc8c21c-c916-4f75-8cef-4ce39eb824b4',
    'entryReference': 'cdc8c21c-c916-4f75-8cef-4ce39eb824b4',
    'bookingDate': '2024-12-21',
    'valueDate': '2024-12-21',
    'transactionAmount': {'amount': '858.89', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST PAPEREUX VERONIQUE\nVirement avec Fortuneo Jeremy L\n\n\nIPR000128763802'],
    'internalTransactionId': '5ae676f9941220df5f4505874fc4c181'},
   {'transactionId': '67223268-c5bd-41db-8c91-9f59cf298ccb',
    'entryReference': '67223268-c5bd-41db-8c91-9f59cf298ccb',
    'bookingDate': '2024-12-20',
    'valueDate': '2024-12-20',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000128723944'],
    'internalTransactionId': 'e94f653b2fb471136b73170853a8d7d8'},
   {'transactionId': '338a8d1b-6e12-4e13-9471-f0c1d5fac049',
    'entryReference': '338a8d1b-6e12-4e13-9471-f0c1d5fac049',
    'bookingDate': '2024-12-20',
    'valueDate': '2024-12-20',
    'transactionAmount': {'amount': '-500', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000128723944'],
    'internalTransactionId': '6eaf07cecc5c426e00aded5c611e4b5e'},
   {'transactionId': 'c7c6fb8c-b433-4b6e-ae51-d26c1a3f0bae',
    'entryReference': 'c7c6fb8c-b433-4b6e-ae51-d26c1a3f0bae',
    'bookingDate': '2024-12-19',
    'valueDate': '2024-12-19',
    'transactionAmount': {'amount': '-3191.52', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPARGNE SAL. PRELEVEM\nICS.FR76ZZZ245313\n.RUM.I00BN72\n\nSDR435341208960'],
    'internalTransactionId': '54b07613266144b815fd4a2aa60c7927'},
   {'transactionId': '9604ae60-eeae-4eb8-8053-20f71b758299',
    'entryReference': '9604ae60-eeae-4eb8-8053-20f71b758299',
    'bookingDate': '2024-12-19',
    'valueDate': '2024-12-19',
    'transactionAmount': {'amount': '1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIREMENT M JEREMY BON\n\n\n\nSCR435419037791'],
    'internalTransactionId': 'e2b373383d2baeeaff7283b08b15121a'},
   {'transactionId': '8ccbb61c-d5d5-4cd3-a478-030528e7550f',
    'entryReference': '8ccbb61c-d5d5-4cd3-a478-030528e7550f',
    'bookingDate': '2024-12-19',
    'valueDate': '2024-12-19',
    'transactionAmount': {'amount': '-6043.96', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPARGNE SAL. PRELEVEM\nICS.FR76ZZZ245313\n.RUM.I00AVI4\n\nSDR435341208959'],
    'internalTransactionId': 'd6b64da3a062a52050205a8952ae8f04'},
   {'transactionId': '861a3553-83df-4538-8682-e24be465ed00',
    'entryReference': '861a3553-83df-4538-8682-e24be465ed00',
    'bookingDate': '2024-12-17',
    'valueDate': '2024-12-17',
    'transactionAmount': {'amount': '2191.52', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIREMENT M JEREMY BON\n\n\n\nSCR435216027477'],
    'internalTransactionId': 'a38f65e2e8779f760dd9c3c3194498c1'},
   {'transactionId': '0955d406-ac51-4894-8bcb-2aa58ebc5706',
    'entryReference': '0955d406-ac51-4894-8bcb-2aa58ebc5706',
    'bookingDate': '2024-12-17',
    'valueDate': '2024-12-17',
    'transactionAmount': {'amount': '946.44', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANCE\nKDS PROFESSIONEL EXPENSE\n\n\nSCR435210030045'],
    'internalTransactionId': '629b5c38772986b2b01fc055ac824a5c'},
   {'transactionId': '328c2090-4a68-4478-8295-5fc91ea9094f',
    'entryReference': '328c2090-4a68-4478-8295-5fc91ea9094f',
    'bookingDate': '2024-12-16',
    'valueDate': '2024-12-16',
    'transactionAmount': {'amount': '1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIREMENT M JEREMY BON\n\n\n\nSCR435225048393'],
    'internalTransactionId': 'e8a609953bcf370129d99a6454a0522c'},
   {'transactionId': '57e33e49-2e43-4025-b50c-e13dc87afba5',
    'entryReference': '57e33e49-2e43-4025-b50c-e13dc87afba5',
    'bookingDate': '2024-12-13',
    'valueDate': '2024-12-13',
    'transactionAmount': {'amount': '2082.47', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANCE\nKDS PROFESSIONEL EXPENSE\n\n\nSCR434830039683'],
    'internalTransactionId': 'd41abd2a10e97bcd312917eed94266e2'},
   {'transactionId': '6076dded-69b7-41ed-8d4c-7e16eba8bb94',
    'entryReference': '6076dded-69b7-41ed-8d4c-7e16eba8bb94',
    'bookingDate': '2024-12-12',
    'valueDate': '2024-12-12',
    'transactionAmount': {'amount': '-1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000127216262'],
    'internalTransactionId': '503eecd0b5537e9afd712ea99b27579d'},
   {'transactionId': '43b7cd56-ec8e-41b4-a75b-9fd66a357e31',
    'entryReference': '43b7cd56-ec8e-41b4-a75b-9fd66a357e31',
    'bookingDate': '2024-12-12',
    'valueDate': '2024-12-12',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000127216262'],
    'internalTransactionId': '970209802dc3a1896736305c8be5d2a6'},
   {'transactionId': 'a080282f-f4c0-4515-9c3b-1ce8c38aa39a',
    'entryReference': 'a080282f-f4c0-4515-9c3b-1ce8c38aa39a',
    'bookingDate': '2024-12-11',
    'valueDate': '2024-12-11',
    'transactionAmount': {'amount': '-20', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CARREFOUR BANQUE\nICS.FR83ZZZ135674\n.RUM.CS00-5135889367110\n0\nSDR434535552041'],
    'internalTransactionId': '49c6287d2fd15c85ddf4f432abad1f05'},
   {'transactionId': '69926375-1add-41c7-b65a-2d2cfe7ac5d6',
    'entryReference': '69926375-1add-41c7-b65a-2d2cfe7ac5d6',
    'bookingDate': '2024-12-11',
    'valueDate': '2024-12-11',
    'transactionAmount': {'amount': '-858.89', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELEVEMENT DES PRETS\n\nECHEANCE PRET PERSONNEL 111224\n33500045658144272086676PP999226\n\n\n'],
    'internalTransactionId': 'dbbad550113c626c590d1404125ddee1'},
   {'transactionId': 'ef0cb9d8-4919-4032-b00c-28d7bb2a4184',
    'entryReference': 'ef0cb9d8-4919-4032-b00c-28d7bb2a4184',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '20', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST PAPEREUX VERONIQUE\nGg\n\n\nIPR000126901225'],
    'internalTransactionId': '40e8ee30f484936dcad0ede8309c02f2'},
   {'transactionId': 'e9d6fc7a-a725-429e-ad21-edee6720a44f',
    'entryReference': 'e9d6fc7a-a725-429e-ad21-edee6720a44f',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '-2.25', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['DEBIT DIVERS\n\nASSURANCE MOYEN DE PAIEMENT\n\n\n\n'],
    'internalTransactionId': '8dd41009458076b62645c6d06f163918'},
   {'transactionId': 'c8ff02ee-69a9-4046-9b68-cc6e34b85378',
    'entryReference': 'c8ff02ee-69a9-4046-9b68-cc6e34b85378',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '132.87', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST PAPEREUX VERONIQUE\nGg\n\n\nIPR000126902509'],
    'internalTransactionId': '4e4940419afee609d0176b1c34120df4'},
   {'transactionId': '47dcf96f-4d08-4a81-adb8-3bd1ed64790d',
    'entryReference': '47dcf96f-4d08-4a81-adb8-3bd1ed64790d',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '-132.87', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CARREFOUR BANQUE\nICS.FR83ZZZ135674\n.RUM.CS00-5135889367110\n0\nSDR434433744567'],
    'internalTransactionId': '71301e610386ef6106918a843cc2ab16'},
   {'transactionId': '0b32dc8d-a0e7-4483-ab05-2021a2e83508',
    'entryReference': '0b32dc8d-a0e7-4483-ab05-2021a2e83508',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '717.78', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST PAPEREUX VERONIQUE\nGg\n\n\nIPR000126897065'],
    'internalTransactionId': '07de8cf8ae53bb5e824dbf16ddb90b95'},
   {'transactionId': '0533d291-6185-463f-92f9-de4b6a5ab7b9',
    'entryReference': '0533d291-6185-463f-92f9-de4b6a5ab7b9',
    'bookingDate': '2024-12-10',
    'valueDate': '2024-12-10',
    'transactionAmount': {'amount': '-700', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIR SEPA far home bernabeu\n\n\n\nSCA434550593744'],
    'internalTransactionId': '830d55d9736e59f2125e5123eb9b69ba'},
   {'transactionId': '722a3483-dc4e-4953-8c0a-8f3afd28a331',
    'entryReference': '722a3483-dc4e-4953-8c0a-8f3afd28a331',
    'bookingDate': '2024-12-05',
    'valueDate': '2024-12-05',
    'transactionAmount': {'amount': '-250', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPARGNE SAL. PRELEVEM\nICS.FR76ZZZ245313\n.RUM.I00AVI5\n\nSDR433926953570'],
    'internalTransactionId': '447f40759451de9aadb23468067dbab5'},
   {'transactionId': 'be435fb8-1332-4d17-8a02-523b67f7cd26',
    'entryReference': 'be435fb8-1332-4d17-8a02-523b67f7cd26',
    'bookingDate': '2024-12-04',
    'valueDate': '2024-12-04',
    'transactionAmount': {'amount': '-1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000125601040'],
    'internalTransactionId': 'ff25c95caf47396520fbe6054dede31f'},
   {'transactionId': '71aefbe8-09fc-4aca-bb83-cad76473641d',
    'entryReference': '71aefbe8-09fc-4aca-bb83-cad76473641d',
    'bookingDate': '2024-12-04',
    'valueDate': '2024-12-04',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000125601040'],
    'internalTransactionId': 'e600e9cd47d100aa38459f9a93e4b7be'},
   {'transactionId': '3f481c33-8d84-4226-a771-52ac10592451',
    'entryReference': '3f481c33-8d84-4226-a771-52ac10592451',
    'bookingDate': '2024-12-03',
    'valueDate': '2024-12-03',
    'transactionAmount': {'amount': '2888.89', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANCE\n\n\n\nSCR433810009834'],
    'internalTransactionId': '0213f86c1215004a139fabc4d69cce38'},
   {'transactionId': 'e882c01a-aae8-49c3-afb8-7d9b212f2b73',
    'entryReference': 'e882c01a-aae8-49c3-afb8-7d9b212f2b73',
    'bookingDate': '2024-12-02',
    'valueDate': '2024-12-02',
    'transactionAmount': {'amount': '-18', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA CARREFOUR BANQUE\nICS.FR83ZZZ135674\n.RUM.CS00-5135889367110\n0\nSDR433422266377'],
    'internalTransactionId': 'd4d4efe0e874d295619e256a855edd9e'},
   {'transactionId': '6c982946-c3f0-42b9-a807-139202f6edfd',
    'entryReference': '6c982946-c3f0-42b9-a807-139202f6edfd',
    'bookingDate': '2024-11-29',
    'valueDate': '2024-11-29',
    'transactionAmount': {'amount': '2598', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANCE\n\n\n\nSCR433319040922'],
    'internalTransactionId': '703e648e3317b098536f5edd4f983438'},
   {'transactionId': 'fb8b299a-efee-4b52-9e9b-0c9d324a519f',
    'entryReference': 'fb8b299a-efee-4b52-9e9b-0c9d324a519f',
    'bookingDate': '2024-11-28',
    'valueDate': '2024-11-28',
    'transactionAmount': {'amount': '710', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Adrien BRUN\nVirement de Adrien BRUN\n\n\nIPR000124175600'],
    'internalTransactionId': 'd2137310c37c5ddad9094f40c90b5f6b'},
   {'transactionId': 'd988c851-c1f4-4634-bdc7-d0b0d9484c85',
    'entryReference': 'd988c851-c1f4-4634-bdc7-d0b0d9484c85',
    'bookingDate': '2024-11-21',
    'valueDate': '2024-11-21',
    'transactionAmount': {'amount': '-1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000123103274'],
    'internalTransactionId': '37cd3c3cb0b731a921f55d81ba37bfbc'},
   {'transactionId': 'a491c064-7217-4946-a2f4-fcc812e49fd5',
    'entryReference': 'a491c064-7217-4946-a2f4-fcc812e49fd5',
    'bookingDate': '2024-11-21',
    'valueDate': '2024-11-21',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000123103274'],
    'internalTransactionId': 'c62fa45827b82c39a3d3bbf905737797'},
   {'transactionId': '2b244082-a6d9-4a25-b213-47cbac49b79f',
    'entryReference': '2b244082-a6d9-4a25-b213-47cbac49b79f',
    'bookingDate': '2024-11-21',
    'valueDate': '2024-11-21',
    'transactionAmount': {'amount': '1000', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIREMENT M JEREMY BON\n\n\n\nSCR432725037560'],
    'internalTransactionId': 'c05a6cde565f9e06c02fc9e42dd03e6c'},
   {'transactionId': 'b74e2e78-cb45-422d-ba6b-4809c1e6a9d6',
    'entryReference': 'b74e2e78-cb45-422d-ba6b-4809c1e6a9d6',
    'bookingDate': '2024-11-20',
    'valueDate': '2024-11-20',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000122881021'],
    'internalTransactionId': 'ac4a2708569f06e5eec89a2256ad90d8'},
   {'transactionId': '88eeec1b-065a-4449-9c4d-5b34d8a7cbd2',
    'entryReference': '88eeec1b-065a-4449-9c4d-5b34d8a7cbd2',
    'bookingDate': '2024-11-20',
    'valueDate': '2024-11-20',
    'transactionAmount': {'amount': '-200', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000122881021'],
    'internalTransactionId': '2fc0616f2d4cbb80602764eff9b77d49'},
   {'transactionId': '7cf03c9f-c60b-4ef4-930c-5bf52eb9b25c',
    'entryReference': '7cf03c9f-c60b-4ef4-930c-5bf52eb9b25c',
    'bookingDate': '2024-11-13',
    'valueDate': '2024-11-13',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000121871277'],
    'internalTransactionId': 'ee6719a7338f0c2a6a00c8ac97e05228'},
   {'transactionId': '0cf68c4f-f6b5-4be9-8639-2cc056e89615',
    'entryReference': '0cf68c4f-f6b5-4be9-8639-2cc056e89615',
    'bookingDate': '2024-11-13',
    'valueDate': '2024-11-13',
    'transactionAmount': {'amount': '-500', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000121871277'],
    'internalTransactionId': 'a6929654ee760f07ad938ff252a892be'},
   {'transactionId': '43e1bc51-ef3a-49f9-9a00-9a0a2db4acb3',
    'entryReference': '43e1bc51-ef3a-49f9-9a00-9a0a2db4acb3',
    'bookingDate': '2024-11-12',
    'valueDate': '2024-11-12',
    'transactionAmount': {'amount': '-858.89', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELEVEMENT DES PRETS\n\nECHEANCE PRET PERSONNEL 121124\n30301278028144272086676PP999226\n\n\n'],
    'internalTransactionId': '603680d634a4fbdeb5f9f101dfe95b03'},
   {'transactionId': '17e5f194-ea55-4f8c-a102-1f7639938abe',
    'entryReference': '17e5f194-ea55-4f8c-a102-1f7639938abe',
    'bookingDate': '2024-11-12',
    'valueDate': '2024-11-12',
    'transactionAmount': {'amount': '-2.25', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['DEBIT DIVERS\n\nASSURANCE MOYEN DE PAIEMENT\n\n\n\n'],
    'internalTransactionId': '405d6874d707f9bebcdc233b69f71c71'},
   {'transactionId': '4baaeb3b-e828-4674-b1ba-64c0b295b763',
    'entryReference': '4baaeb3b-e828-4674-b1ba-64c0b295b763',
    'bookingDate': '2024-11-11',
    'valueDate': '2024-11-11',
    'transactionAmount': {'amount': '-668.55', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIR SEPA vulpian nouveau\nvulpian bon novembre\n\n\nSCA431652029635'],
    'internalTransactionId': '4c514b71b88a4fa3bf1d94d0ef4d0968'},
   {'transactionId': 'fbeb4627-b621-4948-8a21-540d92fa5c67',
    'entryReference': 'fbeb4627-b621-4948-8a21-540d92fa5c67',
    'bookingDate': '2024-11-09',
    'valueDate': '2024-11-09',
    'transactionAmount': {'amount': '-1300', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT\n\nVIR SEPA far home\njeremy bon november\n\n\nSCA431650386917'],
    'internalTransactionId': '78a95a0332f782dcb36d0b2abec98daf'},
   {'transactionId': '213677fa-8fce-4ae2-ac7c-d905997bfc13',
    'entryReference': '213677fa-8fce-4ae2-ac7c-d905997bfc13',
    'bookingDate': '2024-11-05',
    'valueDate': '2024-11-05',
    'transactionAmount': {'amount': '-250', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['PRELVT SEPA RECU D/O CONFRERE\n\nPRLV SEPA EPARGNE SAL. PRELEVEM\nICS.FR76ZZZ245313\n.RUM.I00AVI5\n\nSDR430695730998'],
    'internalTransactionId': 'a00ee9e922500f447fa5aac648d70437'},
   {'transactionId': 'd696c782-e961-412e-a369-5b8ec31ca864',
    'entryReference': 'd696c782-e961-412e-a369-5b8ec31ca864',
    'bookingDate': '2024-11-01',
    'valueDate': '2024-11-01',
    'transactionAmount': {'amount': '-600', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT INSTANTANE\n\nVIR INST Jeremy Bon revo\n\n\n\nIPA000119563778'],
    'internalTransactionId': '83cd0bc0271498bf584792abe399f633'},
   {'transactionId': 'c7f26fb5-82db-403d-97c4-bf3ec1f52510',
    'entryReference': 'c7f26fb5-82db-403d-97c4-bf3ec1f52510',
    'bookingDate': '2024-11-01',
    'valueDate': '2024-11-01',
    'transactionAmount': {'amount': '-1', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['CHANGE A TERME-COM.CHANGE VENTE\n\nFRAIS VIR INST Jeremy Bon revo\n\n\n\nIPA000119563778'],
    'internalTransactionId': '7fe8c553e975667ae2b56d1d6b2f3ede'},
   {'transactionId': '8449b6db-d3e0-4e21-8fe7-a8d860a08be6',
    'entryReference': '8449b6db-d3e0-4e21-8fe7-a8d860a08be6',
    'bookingDate': '2024-10-31',
    'valueDate': '2024-10-31',
    'transactionAmount': {'amount': '2613', 'currency': 'EUR'},
    'remittanceInformationUnstructuredArray': ['VIREMENT SEPA RECU\n\nVIREMENT CARREFOUR FRANCE\n\n\n\nSCR430430079174'],

In [4]:
revolut_api=BankApi(Bank.REVOLUT)

Bank.REVOLUT <enum 'Bank'> True
Successfully connected to Bank.REVOLUT

In [12]:
raw_transac=revolut_api.api.get_transactions()

In [19]:
pd.DataFrame(raw_transac['transactions']['pending'])

,transactionId,bookingDate,bookingDateTime,transactionAmount,creditorName,remittanceInformationUnstructuredArray,proprietaryBankTransactionCode
0,676e38ac-43f9-a794-b149-4d48950e9181,2024-12-27,2024-12-27T05:18:36.737745Z,"{'amount': '-40.85', 'currency': 'EUR'}",FREE MOBILE,"[To Free Mobile, FM-58933087-2]",TRANSFER
1,675b0d4c-5a51-a0d8-81ba-3f3900affeff,2024-12-12,2024-12-12T16:20:28.704598Z,"{'amount': '-150.00', 'currency': 'EUR'}",Carrefourlocnet,[Carrefourlocnet],CARD_PAYMENT

In [5]:
transac_rev=revolut_api.get_transactions()

Date and Date valeur are not the same
Error with length of description (Max length is greater than 1)
Error with length of description (Max length is greater than 1)

### Autres

In [6]:
transac_rev

,transactionId,Date,Date valeur,bookingDateTime,valueDateTime,Montant_dict,creditorName,Description,proprietaryBankTransactionCode,internalTransactionId,currencyExchange,debtorName,debtorAccount,creditorAccount,additionalDataStructured,Montant,Type
0,676ddb69-43be-a811-b18e-122aaab8fd8f,2024-12-26,2024-12-27,2024-12-26T22:40:41.243875Z,2024-12-27T09:35:16.196501Z,"{'amount': '-6.99', 'currency': 'EUR'}",Amazon Prime Fr 2469664,Amazon Prime Fr,CARD_PAYMENT,a6801c8dbdb09c3edcb70447e37c7332,NaN,NaN,NaN,NaN,NaN,-6.99,Booked
1,6769b70c-a5ec-a08e-b7de-45cf559238ab,2024-12-23,2024-12-25,2024-12-23T19:16:28.587891Z,2024-12-25T11:13:21.836815Z,"{'amount': '-2.60', 'currency': 'EUR'}",Avia,Avia,CARD_PAYMENT,a964cff762b52304f3f8244d8d20f7af,NaN,NaN,NaN,NaN,NaN,-2.60,Booked
2,67695c44-8772-a9ef-89f5-a9528c09fb26,2024-12-23,2024-12-25,2024-12-23T12:49:08.804907Z,2024-12-25T09:17:32.550402Z,"{'amount': '-16.40', 'currency': 'EUR'}",Papa Jo,Papa Jo,CARD_PAYMENT,eff9a03e7e8a9a4d119034881e646415,NaN,NaN,NaN,NaN,NaN,-16.40,Booked
3,676957dc-d904-a978-9373-c09a0fff8917,2024-12-23,2024-12-25,2024-12-23T12:30:20.374217Z,2024-12-25T11:06:41.861609Z,"{'amount': '-32.79', 'currency': 'EUR'}",Relais Fnac 0389974,Relais Fnac,CARD_PAYMENT,a544c1f07cbd43c90c86d4e521e3a240,NaN,NaN,NaN,NaN,NaN,-32.79,Booked
4,676961a8-a7c4-a546-ae24-2b0af4510318,2024-12-23,2024-12-24,2024-12-23T13:12:08.060012Z,2024-12-24T11:10:32.051135Z,"{'amount': '-69.82', 'currency': 'EUR'}",Babbel.com 154931523,Babbel.com 154931523,CARD_PAYMENT,6f148e4cb75532095ab1b284fde0811d,NaN,NaN,NaN,NaN,NaN,-69.82,Booked
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
389,66f88e7a-d40d-accf-80ae-71f355054baa,2024-09-28,2024-09-30,2024-09-28T23:17:14.677925Z,2024-09-30T14:21:13.974435Z,"{'amount': '-12.72', 'currency': 'EUR'}",Ticketsbolivia.com,ticketsbolivia.com,CARD_PAYMENT,31b3aa7e93c3dd34cb92fffc59566b8d,"{'instructedAmount': {'amount': '12.48', 'curr...",NaN,NaN,NaN,"{'chargeAmount': {'amount': '0.24', 'currency'...",-12.72,Booked
390,66f87bda-aa26-ad6e-bac9-9beffe011ecb,2024-09-28,2024-09-30,2024-09-28T21:57:46.460762Z,2024-09-30T14:22:30.781078Z,"{'amount': '-4.95', 'currency': 'EUR'}",Culqi*neyra Collection,Culqi*neyra Collection,CARD_PAYMENT,28ffad4f7562a2248ac048461500ee2a,"{'instructedAmount': {'amount': '4.85', 'curre...",NaN,NaN,NaN,"{'chargeAmount': {'amount': '0.10', 'currency'...",-4.95,Booked
391,66f87d14-f997-ad7a-b84d-47b964d687ac,2024-09-28,2024-09-29,2024-09-28T22:03:00.155685Z,2024-09-29T12:55:42.452366Z,"{'amount': '-2.47', 'currency': 'EUR'}",Izi*artesanias Cusco,Izi*artesanias Cusco,CARD_PAYMENT,6a43c98206b89bb36e4efa6562f87a9e,"{'instructedAmount': {'amount': '2.43', 'curre...",NaN,NaN,NaN,"{'chargeAmount': {'amount': '0.04', 'currency'...",-2.47,Booked
0,676e38ac-43f9-a794-b149-4d48950e9181,2024-12-27,NaT,2024-12-27T05:18:36.737745Z,NaN,"{'amount': '-40.85', 'currency': 'EUR'}",FREE MOBILE,To Free Mobile,TRANSFER,NaN,NaN,NaN,NaN,NaN,NaN,-40.85,Pending
1,675b0d4c-5a51-a0d8-81ba-3f3900affeff,2024-12-12,NaT,2024-12-12T16:20:28.704598Z,NaN,"{'amount': '-150.00', 'currency': 'EUR'}",Carrefourlocnet,Carrefourlocnet,CARD_PAYMENT,NaN,NaN,NaN,NaN,NaN,NaN,-150.00,Pending

In [67]:
sheet_migration.account_list

               Compte  Fin Janvier 2023       Actuel
0      Compte Courant           -760.35    -621,39 €
1        Livret Jeune             10.00   1 621,45 €
2               Lydia              4.05       8,41 €
3                Izly              7.60       0,00 €
4             Espèces              0.10       0,00 €
5            Tricount             23.21      38,84 €
6       Remboursement           -662.08       0,00 €
7      Lydia Vêtement              0.00       0,00 €
8          Lydia Vélo            510.43       0,00 €
9   Ticket Restaurant              0.00     156,18 €
10               Oddo           4431.26   2 931,26 €
11           Livret A              0.00  12 791,52 €
12  Carrefour Natixis              0.00   6 715,73 €
13            Revolut              0.00       0,00 €

    ### Tricount (A faire)

### ticket resto (A solde)

#### Natixis Interépargne